@charset "utf-8";
#Kunena td,
#Kunena table,
#Kunena th,
#Kunena div,
#Kunena p,
#Kunena span,
#Kunena .knewchar,
#Kunena #ktab a span {
	font-family: inherit
}
#Kunena a.kicon-button:hover {
	text-decoration: none
}
#Kunena .kicon-button span span {
	color: #fff;
	text-shadow: none;
}
#Kunena table.kmsg {
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
#Kunena div.kblock {
	border-bottom: 4px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.01)
}
#Kunena .kblock div.kheader {
	border-bottom: 2px solid rgba(0,0,0,0.2);
	color: inherit
}
#Kunena div.kblock div.kbody {
	background: transparent;
	border-color: rgba(0,0,0,0.2)
}
#Kunena div.kblock #searchuser_tbody div.kbody {
	border-bottom: 1px solid #DDDDDD;
}
#Kunena div.kblock div.khelprulescontent,
#Kunena div.kblock div.kfheadercontent,
#Kunena div.kblock div.khelprulesjump {
	background-color: rgba(0,0,0,0.01);
	color: inherit
}
#Kunena div.kblock div.kfheadercontent {
	border-bottom: 1px solid #DDDDDD;
}
#Kunena div.kblock div.kactions {
	background: transparent;
	color: inherit
}
#Kunena tr.krow1 td {
	background-color: rgba(44,44,44,0.1);
	border-right: 1px solid rgba(0,0,0,0.2)
}
#Kunena tr.krow2 td {
	background-color: rgba(44,44,44,0.05)
}
#Kunena .klist-actions-forum {
	border-left: 1px solid rgba(0,0,0,0.2)
}
#Kunena tr.ksth {
	color: inherit;
	font-family: inherit;
	background: transparent
}
#Kunena .klatest-avatar,
#Kunena .ktopic-latest-post-avatar {
	border: 1px solid rgba(0,0,0,0.2)
}
#Kunena td.kcol-first {
	border-left: none;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
#Kunena span.kreadforum,
#Kunena span.knotloginforum,
#Kunena span.kunreadforum {
	background: url(../images/icon_chat.png) 0 0 no-repeat;
}
#Kunena .kwhoicon {
	background: url(../images/icon_user.png) 0 0 no-repeat;
}
#Kunena .kstatsicon {
	background: url(../images/icon_statistic.png) 0 0 no-repeat;
}
#Kunena td.kcol-last,
#Kunena td.kcol-mid {
	border-left: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
#Kunena td.ktopicmodule {
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
#Kunena #ktop {
	background: #333;
	color: #fff;
	border: none;
}
#Kunena #ktab a 
#Kunena #ktab a:hover {
	background-color: rgba(0,0,0,0.25)
}
#Kunena #ktab a span {
	font-family: inherit;
	color: inherit
}
#Kunena .divider,
#Kunena div.kblock div.ktitle h1,
#Kunena div.kblock div.ktitle h2,
#Kunena div.kblock div.kactions a,
#Kunena #ktab a:hover span,
#Kunena #ktab li.Kunena-item-active a span {
	color: inherit
}
#Kunena textarea,
#Kunena select,
#Kunena select:focus,
#Kunena select:hover {
	border: 1px solid #ccc;
	color: inherit;
	background-color: inherit;
	padding: 2px 0;
}
#Kunena option {
	background-color: rgba(0,0,0,0.01);
	background: 0;
	color: inherit
}
#Kunena .button,
#Kunena .kbutton {
	color: #fff;
}
body.jsn-color-blue #Kunena .button,
body.jsn-color-blue #Kunena .kbutton {
	background-color: #6ca8ff;
}
body.jsn-color-red #Kunena .button,
body.jsn-color-red #Kunena .kbutton {
	background-color: #c71a1a;
}
body.jsn-color-green #Kunena .button,
body.jsn-color-green #Kunena .kbutton {
	background-color: #72cca7;
}
body.jsn-color-pink #Kunena .button,
body.jsn-color-pink #Kunena .kbutton {
	background-color: #cc3872;
}
body.jsn-color-brown #Kunena .button,
body.jsn-color-brown #Kunena .kbutton {
	background-color: #5a311f;
}
body.jsn-color-orange #Kunena .button,
body.jsn-color-orange #Kunena .kbutton {
	background-color: #ff8600;
}
#Kunena .kbutton-back {
	color: inherit
}
#Kunena input.kinput {
	border: 1px solid rgba(0,0,0,0.2)
}
#Kunena .kbutton:hover,
#Kunena .kbutton:focus {
}
#Kunena .klist-actions-bottom,
#Kunena .klist-actions {
	background-color: rgba(0,0,0,0.01);
	border: 1px solid rgba(0,0,0,0.2);
	color: inherit
}
#Kunena .klist-pages {
	border-left: 1px solid rgba(0,0,0,0.2);
	color: #666;
	font-family: inherit
}
#Kunena .klist-times #Kunena .klist-actions-forum {
	border-left: 1px solid rgba(0,0,0,0.2)
}
#Kunena .klist-pages-all {
	border-left: 1px solid rgba(0,0,0,0.2);
	font-family: inherit
}
#Kunena .klist-jump-all,
#Kunena .klist-times-all {
	border-left: 1px solid rgba(0,0,0,0.2)
}
#Kunena .klist-top,
#Kunena .klist-bottom {
	background-color: rgba(0,0,0,0.01);
	background: 0;
	border: 1px solid rgba(0,0,0,0.2)
}
#Kunena .klist-markallcatsread {
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.01)
}
#Kunena .klist-categories {
	border-left: 1px solid rgba(0,0,0,0.2)
}
#Kunena .kpagination a {
	border: solid 1px rgba(0,0,0,0.2)
}
#Kunena .kpagination .active {
	border: solid 1px rgba(0,0,0,0.2);
	background: rgba(0,0,0,.1);
	color: inherit
}
#Kunena .kpagination .active:hover,
#Kunena .kpagination a:hover {
	border: solid 1px rgba(0,0,0,0.25);
	background: rgba(0,0,0,.2)
}
#Kunena tr td.kcol-ktopicicon a {
	text-indent: -999em;
	display: inline-block;
	
}
#Kunena div.ktopic-title-cover ul.kpagination a {
	border: solid 1px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2)
}
#Kunena div.ktopic-title-cover ul.kpagination a:hover {
	border: solid 1px rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.25)
}
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton,
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton:hover {
	background: transparent
}
#Kunena div#kforum-head {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2)
}
#Kunena div#kmoderatorslist div.kbody {
	border: 0 none
}
#Kunena div#kmoderatorslist div.kbody {
	border: 0 none;
	background-color: rgba(0,0,0,0.01)
}
#Kunena fieldset {
	background-color: rgba(255,255,255,.05);
	border: 1px solid rgba(255,255,255,.1);
	background-image: none
}
#Kunena input#keywords,
#Kunena input#kusername,
#Kunena input {
	background-color: inherit;
	color: inherit
}
#Kunena div#ksearchresult div.kresult-title {
	border-bottom: 0 none
}
#Kunena div#ksearchresult div.resultcat {
	border-top: 0 none
}
#Kunena .kprofilebox-right {
	border-left: 0 none
}
#Kunena div.kpbox {
	border-bottom: none;
	border: none;
}
#Kunena table.kblocktable {
	border: 0 none
}
#Kunena h1 a:link,
#Kunena h1 a:active,
#Kunena h1 a:visited,
#Kunena h1,
#Kunena h2,
#Kunena h2 a,
#Kunena span.kchildcount,
#Kunena div.kcc-childcat-title {
	color: inherit!important
}
#Kunena h2 span.kheadbtn a {
	background: transparent;
	border: 0 none
}
#Kunena h2 span.kheadbtn:hover a {
	background: transparent;
	border: 0 none;
	color: inherit
}
#Kunena .ktitle,
#Kunena a.ktitle,
#Kunena span.kmsgdate {
	font-family: inherit;
	color: inherit;
	font-weight: 300;
}
#Kunena div.kthead-title a,
#Kunena .ktitle a {
	font-weight: 300;
	text-transform: capitalize;
}
#Kunena div.kthead-child {
	border-top: 1px dotted rgba(0,0,0,0.2)
}
#Kunena .kcontenttablespacer {
	border: 0 none;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
#Kunena .krow1-stickymsg {
	background: rgba(255,255,204,0.1)
}
#Kunena .krow2-stickymsg {
	background: rgba(255,255,204,0.2)
}
#Kunena div.kmsg-header {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background: transparent;
	color: inherit
}
#Kunena div.kmsg-header h2 {
	background: transparent
}
#Kunena div.kmessage-editmarkup-cover {;
	border-bottom: 0 none
}
#Kunena img.catavatar,
#Kunena span.kavatar img,
#Kunena div.kmsgattach,
#Kunena div.kmsgtext pre,
#Kunena div.kmsgtext code,
#Kunena span.kmessage-editmarkup #Kunena .kreply-form,
#Kunena span.kmessage-informmarkup,
#Kunena div.kmsgtext-article,
#Kunena div.kmsgtext-quote,
#Kunena div.kmsgtext-hide,
#Kunena div.kmsgtext-confidential,
#Kunena .kreply-form {
	border: 0 none
}
#Kunena div.kmsgsignature,
#Kunena div.kmessage-thankyou {
	border-top: 0 none
}
#Kunena .kreply-form .inputbox {
	background-color: rgba(0,0,0,0.01);
	border: 0 none;
	color: inherit
}
#Kunena .kreply-form .inputbox {
	background-color: rgba(0,0,0,0.01);
	border: 0 none
}
#Kunena div.kmsgtext-article,
#Kunena div.kmsgtext-quote,
#Kunena div.kmsgtext-hide,
#Kunena div.kmsgtext-confidential {
	border: 0 none;
	font-family: inherit
}
#Kunena div.kmsgtext-article {
	background-color: rgba(0,0,0,0.01)
}
#Kunena td.kprofile-right {
	background: transparent;
	border: 0 none
}
#Kunena td.kbuttonbar-right,
#Kunena td.kbuttonbar-top,
#Kunena td.kbuttonbar-left {
	border-bottom: 0 none
}
#Kunena td.kprofile-left {
	border-bottom: 0 none;
	border-right: 0 none
}
#Kunena td.kprofile-top {
	border-bottom: 0 none;
	background: transparent
}
#Kunena td.kprofile-bottom {
	vertical-align: bottom;
	padding: 5px;
	border-bottom: 0 none;
	border-top: 0 none;
	background: transparent
}
#Kunena #kpost-message .postinput,
#Kunena #kpost-message .postinput:hover,
#Kunena #kpost-message .postinput:focus,
#Kunena #kpostmessage tr.krow2 td.kcol-ktopicicons td {
	background-color: rgba(0,0,0,0.01);
	border: 0 none;
	color: inherit
}
#Kunena #kpostmessage tr.krow1 .kpostbuttonset td.kposthint {
	background: rgba(255,255,255,0.2);
	border: 0 none
}
#Kunena table#kpostmessage .kposthint .kinputbox {
	background: transparent
}
#Kunena #kpostmessage tr.krow1 .kpostbuttonset td,
#Kunena #kpostmessage tr.krow2 .kpostbuttonset td {
	border-bottom: 0 none
}
#Kunena .kattachment .kbutton {
	color: inherit
}
#Kunena .kfile-input-button,
#Kunena .kfile-input-button:hover,
#Kunena .kfile-input-button:focus,
#Kunena .kattachment-remove,
#Kunena .kattachment-insert {
	color: inherit;
	border: 0 none
}
#kpoll-form-vote fieldset {
	background-color: rgba(0,0,0,0.01)
}
#Kunena .kforum-pathway {
	color: inherit;
	border-left: 0 none;
	border-right: 0 none;
	background: transparent
}
#Kunena .kforum-pathway-bottom,
#Kunena .kforum-headerdesc {
	color: inherit;
	border: 0 none;
	background: transparent
}
#Kunena td.kuadesc,
#Kunena td.kcreditsdesc,
#Kunena span#kprofilebox-status {
	color: inherit;
	background: transparent
}
#Kunena .kpostbuttonset,
#Kunena tr.krow1 .kpostbuttons,
#Kunena table#kpostmessage .ktxtarea,
#Kunena #kbbcode-preview,
#Kunena #kpost-result div,
#Kunena div#kcolor-palette,
#Kunena div#link,
#Kunena div#image,
#Kunena div#video,
#Kunena form.kform-report input,
#Kunena form.kform-report textarea,
#Kunena .kfile-input-button:hover,
#Kunena .kfile-input-button:focus,
#Kunena .kcredits-intro,
#Kunena .kcredits-language,
#Kunena .kwholegend,
#Kunena .kwhoonline,
#Kunena div.kmoderate-message,
#Kunena div.current,
#Kunena #kprofilebox-toggle,
#Kunena #kpost-message .invalid,
#lbImage {
	border: 0 none
}
#Kunena div.kavatar-lg {
	border: 0 none;
	background: transparent
}
#Kunena div.clrline {
	border-top: 0 none
}
#Kunena dl.tabs dt,
#Kunena dl.tabs dt.open {
	border: 0 none;
	background: transparent;
	color: inherit
}
#Kunena dt.kprofile-modbtn {
	background: transparent!important;
	color: inherit
}
#Kunena a.close,
#Kunena a.open {
	background-color: rgba(0,0,0,0.25)
}
ul.autocompleter-choices,
#lbBottom {
	border: 0 none;
	font-family: inherit
}
/* ===================== JSN OVERWRITE CSS ===================== */
/* ------ GENERAL ------ */
#Kunena .inputbox {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	min-height: 19px;
	background: none;
	padding: 3px 2px;
}
#Kunena input#keywords,
#Kunena input#kusername,
#Kunena input {
	border: 1px solid rgba(0,0,0,0.2);
	background-color: #fff;
	min-height: 18px;
	vertical-align: middle;
}
#Kunena .kprofileboxcnt .input span input[type="checkbox"] {
    vertical-align: middle;
}
#Kunena div.k_guest {
	margin-bottom: 10px;
}
#Kunena .kprofilebox .klink-block {
	padding-top: 10px;
}
#Kunena table,
#Kunena table td {
	border-collapse: collapse;
}
#Kunena tr {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#Kunena tr#advsearch_options {
	border-bottom: 1px dashed rgba(0,0,0,0.2);
}
#Kunena tr.krow1 td {
	background: #f8f8f8;
	border-bottom: none;
	padding: 15px;
}
#Kunena tr.krow2 td {
	background: #fff;
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#Kunena span.kcat-topics-number,
#Kunena span.kcat-replies-number,
#Kunena span.ktopic-views-number {
	font-size: 1.2em;
}
#Kunena a.ktopic-title {
	font-size: 1.2em;
	font-weight: 300;
}
#Kunena ul#kstatslistleft,
#Kunena ul#kstatslistright {
	font-size: 0.9em;
}
#Kunena div.kblock {
	margin-top: 15px;
}
#Kunena .button,
#Kunena .kbutton {
	cursor: pointer;
	text-shadow: none;
	padding: 4px !important;
	vertical-align: middle;
}
#Kunena #kprofile-edit .kbutton {
	margin: 0;
}
#Kunena ul li {
	list-style-type: none;
}
#Kunena div#kmod-container {
	border-bottom: 1px solid #ccc;
}
#Kunena div#kforum-head {
	border-top: 1px solid #ccc;
}
#Kunena div.kblock span.select-toggle {
	right: 14px;
	top: 8px;
}
#Kunena .kicon-button {
	margin: 0 8px;
}
/* ------ TOP MENU ------ */
/* GENERAL */
#Kunena #ktopmenu ul.menu li {
	margin: 0 !important;
}
#Kunena #ktopmenu ul.menu li a {
	color: #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 3px 10px;
	transition: color 0.3s linear, background 0.3s ease-out;
	-moz-transition: color 0.3s linear, background 0.3s ease-out;
	-webkit-transition: color 0.3s linear, background 0.3s ease-out;
}
#Kunena #ktopmenu ul.menu li:hover a,
#Kunena #ktopmenu ul.menu li.active a {
	color: #ffffff;
	background: #000;
}
#Kunena #ktop span.ktoggler {
	margin: -28px 15px;
}
#Kunena .kprofilebox tr.krow1 td {
	border-right: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	background: #fff;
}
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton {
	cursor: pointer;
}
/* ------ PATHWAY ------ */
#Kunena .kblock.kpathway {
	border-bottom-width: 1px;
	width: 99.7%;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
#Kunena .kforum-pathway {
	border: none;
	margin: 10px 20px;
	padding: 0;
}
#Kunena .kforum-pathway [class*="path-element"] a {
	color: #737373;
}
.jsn-color-orange #Kunena .kforum-pathway [class*="path-element"] a:hover {
	color: #ff8600;
}
.jsn-color-violet #Kunena .kforum-pathway [class*="path-element"] a:hover {
	color: #8460a8;
}
.jsn-color-blue #Kunena .kforum-pathway [class*="path-element"] a:hover {
	color: #47a0f2;
}
.jsn-color-green #Kunena .kforum-pathway [class*="path-element"] a:hover {
	color: #8ec63f;
}
.jsn-color-red #Kunena .kforum-pathway [class*="path-element"] a:hover {
	color: #c01a1e;
}
#Kunena #jumpto .inputbox.fbs {
	min-height: inherit;
	position: relative;
	top: 2px;
	padding: 2px 0;
}
#Kunena .kforum-pathway .path-element,
#Kunena .kforum-pathway-bottom .path-element,
#Kunena ul.kprofilebox-link li {
	background: url(../images/icon-arrow-black.png) -1px center no-repeat !important;
}
#Kunena ul.kprofilebox-link li {
	background-position: -6px -3px !important;
}
/* ------ CONTENT ------ */
#Kunena .kblock .kheader h2,
#Kunena .kblock .kheader h2 a {
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
}
#Kunena div.ktitle-desc {
	font-size: 13px;
}
#Kunena .kblock .kheader h2 a:hover {
	text-decoration: none;
}
#Kunena div.kmsg-header h2 {
	padding: 15px 0;
}
#Kunena div.kblock span.ktoggler {
	right: 0px;
	top: 12px;
}
#Kunena div.kblock[class*="kcategories-"] span.ktoggler {
	top: 22px;
}
#Kunena .kblock div.kheader {
	color: #fff;
}
#Kunena div.kblock {
	border: none;
}
#Kunena .kheader h2 {
	padding: 5px 0;
}
#Kunena tr.krow1 td {
	border-right: none;
}
#Kunena .klist-actions-forum,
#Kunena .klist-actions td {
	padding: 8px 10px;
}
#Kunena table#kprofile td.kcol-left,
#Kunena td.kprofile-left {
	border-right: 1px solid #ccc;
}
#Kunena td.kprofile-right {
	border-left: 1px solid #ccc;
}
#Kunena td.kprofile-top {
	border-bottom: 1px solid #ccc;
}
#Kunena td.kprofile-bottom {
	border-top: 1px solid #ccc;
}
#Kunena td.kprofile-left,
#Kunena td.kprofile-right,
#Kunena td.kprofile-top,
#Kunena td.kprofile-bottom {
	background: #f2f2f2;
}
#Kunena ul.kpost-profile li.kpost-username {
	text-transform: capitalize;
}
#Kunena span.kmessage-editmarkup {
	border: none;
}
#Kunena .klist-top,
#Kunena .klist-bottom {
	border-top: none;
}
#Kunena span.kmsgtitle,
#Kunena span.kmsgtitle-new {
	font-weight: 400;
	font-size: 1.5em;
}
/* ------ MOD LATEST ------ */
.klatest .klatest-items ul.klatest-itemdetails {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 8px;
	margin-top: 5px;
}
.klatest-itemdetails li {
	margin:0;
}
/* ------ MOD STATISTICS ------ */
div.kstats-module ul.kstats-items li {
	margin-left: 10px;
	background: url(../images/icon-arrow-white.png) -5px center no-repeat;
}
div[class*="box-"] div.kstats-module ul.kstats-items li {
	background-image: url(../images/icon-arrow-black.png);
}
/* ------ MOD LOGIN ------ */
input#klogin-username,
input#klogin-passwd {
	float: left;
}
.klogin-form-login-username,
.klogin-form-login-password,
.klogin-form-login-remember {
	clear: both;
}
.input span,
.klink-block span {
	margin-right: 8px;
}
/* ============= TEMPLATE COLORS STYLE ============= */
#Kunena .kblock div.kheader {
	background: #333;
	padding: 5px 15px;
	border-bottom: none;
}
/* ============= JOOMLA 30 ============= */
body.jsn-joomla-30 #Kunena a.close {
	opacity: 1;
}
body.jsn-joomla-30 #Kunena #jumpto .inputbox.fbs {
	top: 0;
}
/* ============= RTL LAYOUT ============= */
/* ------ TOP MENU ------ */
body.jsn-direction-rtl #Kunena #ktab {
	margin-right: 0;
}
body.jsn-direction-rtl #Kunena #ktopmenu ul.menu li {
	float: right;
}
body.jsn-direction-rtl #Kunena #ktopmenu ul.menu li a {
	border-right: none;
	border-left: 1px solid #DDDDDD;
}
/* ------ PATHWAY ------ */
body.jsn-direction-rtl #Kunena .kforum-pathway .path-element,
body.jsn-direction-rtl #Kunena .kforum-pathway-bottom .path-element {
	float: right;
}
body.jsn-direction-rtl #Kunena .kforum-pathway .path-element,
body.jsn-direction-rtl #Kunena .kforum-pathway-bottom .path-element,
body.jsn-direction-rtl #Kunena ul.kprofilebox-link li {
	background: url(../images/icon-arrow-black-rtl.png) -4px center no-repeat !important;
}
/* ------ CONTENT ------ */
body.jsn-direction-rtl #Kunena td.kprofileboxcnt form div.input {
	float: right;
	width: 100%;
}
body.jsn-direction-rtl #Kunena td.kprofileboxcnt form div.input span {
	float: right;
}
body.jsn-direction-rtl #Kunena td.kprofileboxcnt {
	text-align: right;
}
body.jsn-direction-rtl #Kunena div.klatest-subject,
body.jsn-direction-rtl #Kunena div.klatest-subject-by,
body.jsn-direction-rtl #Kunena,
body.jsn-direction-rtl #Kunena .kheader h2 {
	text-align: right;
}
body.jsn-direction-rtl #Kunena div.kblock span.ktoggler {
	float: left;
	left: 0;
	right: auto;
}
body.jsn-direction-rtl #Kunena .ktitle,
body.jsn-direction-rtl #Kunena a.ktitle {
	float: right;
}
body.jsn-direction-rtl #Kunena .fltrt {
	float: left;
}
body.jsn-direction-rtl #Kunena td.kprofileboxcnt ul {
	float: right;
	text-align: right;
}
body.jsn-direction-rtl #Kunena td.kprofileboxcnt ul.kprofilebox-link {
	float: left;
}
body.jsn-direction-rtl #Kunena tr.krow2 td {
	text-align: right;
}
body.jsn-direction-rtl #Kunena tr.krow2 td span.kcat-replies-number {
	text-align: center;
}
body.jsn-direction-rtl #Kunena tr.krow1 td.krowmoderation {
	text-align: left;
}
body.jsn-direction-rtl #Kunena tr.krow2 td.kcol-kcattopics,
body.jsn-direction-rtl #Kunena tr.krow2 td.kcol-ktopicreplies {
	text-align: center;
}
body.jsn-direction-rtl #Kunena div.kthead-title a,
body.jsn-direction-rtl #Kunena .ktitle a {
	width: 100%;
	text-align: right;
}
body.jsn-direction-rtl #Kunena div.kthead-desc,
body.jsn-direction-rtl #Kunena div.kthead-moderators {
	text-align: right;
}
body.jsn-direction-rtl #Kunena span.ktopic-posted-time {
	float: right;
}
body.jsn-direction-rtl #Kunena div.ktopic-title-cover {
	text-align: right;
}
body.jsn-direction-rtl #Kunena .klist-pages-all {
	text-align: left;
}
body.jsn-direction-rtl #Kunena div.kblock span.select-toggle {
	float: left;
	left: 0;
	right: auto;
}
body.jsn-direction-rtl #Kunena .klist-actions-forum,
body.jsn-direction-rtl #Kunena .klist-actions td {
	border-right: none;
	border-left: 1px solid #ccc;
}
body.jsn-direction-rtl #Kunena ul#kpost-profiletop li.kpost-smallicons {
	float: left;
}
body.jsn-direction-rtl #Kunena span.ktopic-category,
body.jsn-direction-rtl #Kunena ul#kpost-profiletop li.kpost-avatar {
	float: right;
	clear: right;
}
body.jsn-direction-rtl #Kunena div.kmessage-editmarkup-cover {
	text-align: left;
}
body.jsn-direction-rtl #Kunena div.kmessage-buttons-cover {
	float: left;
}
body.jsn-direction-rtl #Kunena .klatest-post-info {
	text-align: right;
}
body.jsn-direction-rtl #Kunena table#kprofile td.kcol-left,
body.jsn-direction-rtl #Kunena td.kprofile-left {
	border-right: none;
	border-left: 1px solid #ccc;
}
body.jsn-direction-rtl #Kunena div.kprofile-rightcol2 {
	float: left;
	text-align: right;
}
body.jsn-direction-rtl #Kunena div.kprofile-rightcol1 {
	float: right;
	text-align: right;
}
body.jsn-direction-rtl #Kunena span.ktopic-by {
	float: right;
}
#Kunena div#kprofile-stats ul li {
	text-align: right;
}
/* ------ MOD LATEST ------ */
body.jsn-direction-rtl .klatest-topicicon {
	float: right;
}
/* ------ MOD STATISTICS ------ */
body.jsn-direction-rtl div.kstats-module ul.kstats-items li {
	background: url(../images/icon-arrow-white-rtl.png) 104% center no-repeat;
	padding-right: 10px;
	margin-right: 0;
}
body.jsn-direction-rtl div[class*="box-"] div.kstats-module ul.kstats-items li {
	background-image: url(../images/icon-arrow-black-rtl.png);
}
body.jsn-direction-rtl #Kunena ul#kstatslistright {
	float: left;
}
body.jsn-direction-rtl #Kunena ul#kstatslistleft {
	float: right;
	text-align: right;
}
/* ------ MOD LOGIN ------ */
body.jsn-direction-rtl .klogin-vert ul.klogin-loginlink li,
body.jsn-direction-rtl .klogin-vert ul.klogin-logoutlink li {
	background-position: right center;
	padding-right: 10px;
	margin-right: 0;
}
body.jsn-direction-rtl input#klogin-username,
body.jsn-direction-rtl input#klogin-passwd {
	float: left;
}
fieldset.input {
	border: none;
	margin: -10px;
}
body.jsn-direction-rtl #Kunena table.kblocktable,
body.jsn-direction-rtl #Kunena div.kgenstats th,
body.jsn-direction-rtl #Kunena tr.ksth th.kname {
	text-align: right !important;
}
body.jsn-direction-rtl #Kunena td.kcol-last,
body.jsn-direction-rtl #Kunena td.kcol-mid {
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/************************************************************************************
smartphone layout (320 - 480): everything is layout in single column
*************************************************************************************/
@media only screen and (max-width: 480px),
(max-device-width: 480px) {
	#Kunena .klist-actions td {
		display: block;
	}
}