@CHARSET "UTF-8";

span.help-block {
	font-style: italic;
	font-size: x-small;
}

div.info-mini {
	font-size: xx-small;
	font-style: italic;
}

#crowdf-funding-form span.help-block{
	width: 300px;
}

.navbar .nav > li > a.disabled {
    cursor: not-allowed;
}

#crowdf-funding-form .row-fluid:nth-child(2), 
#crowdf-funding-form .row-fluid:nth-child(3){
	margin-top: 20px;
}

#jform_funding_days-lbl, #jform_funding_end-lbl {
	display: inline;
}

.width_600px{
	width: 600px !important;
}

.width_400px{
	width: 400px !important;
}


.height_600px{
	height: 600px;
}

.relative {
    position: relative;
}

.absolute-bottom{
	position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   margin-left: auto;
   margin-right: auto;
}

.reward-form {
	
	margin-bottom: 20px;
}

.reward-form-help {
	padding-left: 10px;
	font-weight: bold;
	color: black;
}

.reward-form {
	position: relative;
}
.btn_remove_reward {
	position: absolute;
	bottom:20px;
	right: 20px;
}

.cf-center {
	margin: 0 auto !important;
	text-align: center !important;
}

.cf-projects-list th {
	margin: 0 auto !important;
	text-align: center !important;
}

.bolder {
	font-weight: bolder;
}

.uppercase {
	text-transform: uppercase;
}

.font-xxsmall {
	font-size: xx-small;
}

/* START Project Thumbnail Styles */

.cf-project {
	min-height: 480px;
	position: relative;
}

.cf-thumnails-thumb {
   display: block;
	min-height: 200px;
}

.cf-caption-info {
	padding: 0 10px;
	margin: 10px 0;
	text-align: left;
}

/* END Project Thumbnail Styles */

.cf-details-block {
	margin-top: 10px;
}

.cf-border-bottom {
	border-bottom: thin solid #d1d1d1;
}

.cf-border-top {
	border-top: thin solid #d1d1d1;
}

.crowdf-embeded {
	margin-top: 5px;
	border-top: thin dashed #d1d1d1;
}

.cfinfo {
	background-color: #ebebeb;
   padding:10px;
   overflow: hidden;
}

.cfinfo-raised {
	font-size: 48px;
	margin: 20px 0;
	text-transform: uppercase;
	text-align: center;
}

.cfinfo-raised-of {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}


.cfinfo-days-raised img {
	margin: 5px 5px 10px 0;
	vertical-align: middle;
}

.cfinfo-days, .cfinfo-percent {
	font-size: xx-large;
	text-align: center;
}

.cfinfo-days-wrapper, .cfinfo-percent-wrapper {
	width: 50%;
	float: left;
}

.cfinfo-funding-type{
	border-top: thin solid #b2b2b2;
	font-size: medium;
	font-weight: bold;
	padding: 10px 0;
	margin-top:5px;
}

.cfinfo-funding-action {
	border-top: thin solid #b2b2b2;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
}

.cfinfo-funding-type-info {
	padding: 10px 0;
	font-size: x-small;
}

/* START Rewards Navigation */

.cfrewards div.reward_title {
	text-transform: uppercase;
	font-weight: bold;
    color: #6c6c6c;
    cursor: text;
    border-bottom: none;
}

.cfrewards > div:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cfrewards > div  {
	 float: none;
	 margin-bottom: -1px;
    border: 1px solid #DDDDDD;
    
    line-height: 20px;
    padding: 8px 12px;
    display: block;

}

.cfrewards a, .cfrewards a:hover {
	display: block;
	text-decoration: none;
}

.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > a:focus {
    border-color: #DDDDDD;
    z-index: 2;
}

div.reward:hover  {
	 border-color: #DDDDDD;
    z-index: 2;
    background-color: #EEEEEE;
    text-decoration: none;
}

/* END Rewards Navigation */


.ramount {
	color: black;
}

.rtitle, .rdesc {
	color: #6c6c6c;
}

.ramount {
	font-size: large;
	font-weight: bold;
	display: block;
	border-bottom: thin dashed gray;
    padding: 5px 0;
}

.rtitle {
	font-size: medium;
	font-weight: bold;
	margin: 5px 5px 5px 0;
	display: block;
}

.rdesc {
	display: block;
	font-size: small;
}

.embed-code {
	width: 100%;
	height: 150px;
}

.bl {
	border-left: thin solid #b2b2b2;
}

.tac {
	text-align: center;
}

.fzmfwbu{
	font-size: medium;
	text-transform: uppercase;
	font-weight: bold;
}

/* Padding and Margin */

.pl5 {
	padding-left: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pt5 {
	padding-top: 5px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.ml10 {
	margin-left: 10px;
}

.m10 {
	margin: 5px;   
}

.mtb_15_0 {
	margin: 15px 0;
}

.mtb_25_0 {
	margin: 25px 0;
}

.cf-m-0 {
	margin: 0;
}

.mt_0 {
	margin-top: 0;
}

/* Backing */

.cfbr{
	margin-left: 0 !important;
}

.cfbr > li {
	padding-left: 0 !important;
}

.cfbr > li:first-child > a {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
   color: #6c6c6c;
   cursor: text;
}

.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 9px 9px;
    position: relative;
}

form.bs-docs-example {
    padding-bottom: 19px;
}

.bs-docs-example:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

#form-pledge button{
	display: block;
	margin-top: 20px;
}

.cfinfo .well {
	background-color: #dfdfdf;
}

.cf-fund-result-state {
	border-bottom: thin dashed #aaaaaa;
	padding-bottom: 5px;	
	text-transform: uppercase;
}

.cf-frss {
	padding-top: 5px;	
	font-size: small;
}

.hr {
	border-bottom: thin dashed #afafaf;
	width: 100%;
}

.cf-update-item, .cf-comment-item {
	padding: 15px 0;
	position: relative;
}

.cf-info-bar {
	background-color: #ffffe8;
	border: thin solid #d1d1d1;
	padding: 5px;
}

.button-large {
	padding: 5px 30px !important;
}

.button[disabled] {
  background-color: #d9d9d9;
  cursor:not-allowed;
}

.cursor-help {
	cursor: help;
}

.cf-transactions th{
	text-align: center !important;
}

.cf-funder-row {
	padding: 10px;
	border-bottom: thin dashed gray;
}

.cf-funder-row .cf-funder-picture {
	margin-right: 5px;
}

.cf-location {
	background: url(../images/icon_location.png) no-repeat left !important;
	padding-left: 20px;
}

.cf-funder-amount {
	font-size: large;
}

.cf-project-manager-box {
	 border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 0px;
    transition: all 0.2s ease-in-out 0s;
}

.cf-font-small {
	font-size: smaller;
}
.cf-bg-color-yellow {
	background-color: #fffacd;
}

.cf-bg-color-brown {
	background-color: #deb887;
}

.thumbnail > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.cf-projects-list .button:hover{
	color: white; 
}

.cf-manager {
	border: thin solid #D1D1D1;
   margin-top: 10px;
}

.cf-manager h4, .cf-manager h5 {
	padding-left: 10px;
}

.cf-pm-toolbar {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    color: #0C192E;
    padding: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

#jform_pitch_video-lbl:after, #jform_pitch_image-lbl:after {
	content: " *";
}


.parsley-error-list li{
	color: red;
}

/* Rewards */
.cf-rewards-submit-btn {
	margin:15px 0 50px;
}

.cf-fm {
	font-size: medium;
}

#js-extra-images-rows {
	margin-top: 50px;
}

.extra-image-row {
	border: thin solid #dcdcdc;
	margin: 20px 0;
}

.extra-image-row img, .extra-image-row a {
	margin: 10px;
}

.extra-image-row:hover {
	background: #eaeaea;
}

.js-reward-image-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 10px 0 0;
}

.js-reward-image-wrapper .thumbnail {
	margin-bottom: 10px;
}

.js-reward-image-wrapper .input-large {
	display: block;
}

/* Padding classes */
.cf-p10-border{
    border: thin solid #d1d1d1;
    margin-top: 10px;
}

/* YouTube Responsive */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cf-rewards-submit-btn button:last-of-type {
	margin-left: 20px;
}

.cf-information-box {
	padding: 5px;
	background-color: #D9EDF7;
}

.cf-information-box h4 {
   padding-left: 30px;
	background: url(../images/information_24x24.png) no-repeat left;
}

.cf-rewards-backers {
	font-weight: bolder;
	background: url(../images/backers.png) no-repeat left;
	padding-left: 20px;
}

.cf-rewards-delivery {
	background: url(../images/calendar.png) no-repeat left;
	padding-left: 20px;
}

.cf-rewards-claimed {
   font-weight: bolder;
	background: url(../images/claimed.png) no-repeat left;
	padding-left: 20px;
}

/* Heights */
.cf-height-150px {
	height: 150px;
}

/* Categories */

/* Categories Layout Grid */
#cf-categories-grid .cf-category {
    height: 350px;
    position: relative;
}

/* Categories Layout List */
#cf-categories-list > .cf-category {
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    margin-top: 15px;
}

#cf-categories-list .cf-category-thumbnail {
	float: left;
	display: block;
	max-height: 200px;
	max-width: 200px;
	width: 20%; 
}

#cf-categories-list .cf-category-thumbnail > img {
	margin: 0 auto;
	display: block;
}

#cf-categories-list .cf-category-content {
	float: left;
	display: block;
	padding-left: 20px;
	width: 80%; 
}