/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
a {
	color: #459ff3;
}
body {
	background: #73b8f8;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- ACTION LINK ----- */
.link-action:hover {
	background-color: #459ff3;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th {
	background-color: #459ff3;
}
table.style-colorheader thead th,
table.style-colorstripes tbody td,
table.style-colorstripes tbody th {
    border-right: 1px solid rgba(255,255,255,0.2);
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes thead th {
	background-color: #459ff3;
}
table.style-colorstripes thead th.highlight {
	background-color: #227ed3;
}
table.style-colorstripes thead th,
table.style-colorstripes tbody tr,
table.style-colorstripes tbody td {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
}
table.style-colorstripes tbody tr {
	background-color: #aad2f7;
}
table.style-colorstripes tbody .highlight {
	background-color: #7ab9f4;
}
table.style-colorstripes tbody tr.odd {
	background-color: #8bc3f7;
}
table.style-colorstripes tbody tr.odd .highlight {
	background-color: #52a3ee;
}
table.style-colorstripes tbody tr:hover th,
table.style-colorstripes tbody tr:hover td {
	background-color: #5cacf7;
}
table.style-colorstripes tbody tr:hover .highlight {
	background-color: #3b90df;
}
table.style-colorstripes tfoot th,
table.style-colorstripes tfoot td {
	background-color: #459ff3;
	border-left: none;
}
.sectiontableheader {
	background-color: #55C9E1;
}
/* ============================== MODULE STYLES ============================== */
div.lightbox-2 h3.jsn-moduletitle {
	position: relative;
}
div.lightbox-2 h3.jsn-moduletitle:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	display: block;
	width: 70px;
	height: 1px;
	background-color: #459ff3;
}
div.richbox-2 h3.jsn-moduletitle {
	border-bottom: 1px solid #73b8f8;
}
div.solid-2 {
	background: #459ff3;
}
/* ============================== MENU ============================== */
/* =============== MENU - MAIN MENU =============== */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > a,
div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
	color: #459ff3;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
	color: #459ff3;
}
/* =============== MENU - SIDE/TREE MENU =============== */
div.jsn-modulecontainer ul.menu-treemenu li:hover > a,
div.jsn-modulecontainer ul.menu-treemenu li.active > a,
div.jsn-modulecontainer ul.menu-sidemenu li:hover > a,
div.jsn-modulecontainer ul.menu-sidemenu li.active > a,
div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu li:hover > a .jsn-menudescription,
div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu li.active > a .jsn-menudescription {
	color: #459ff3;
}
/* PAGE PAGINATION */
ul.jsn-pagination li a:hover {
	background: #459ff3;
}

