/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
a {
	color: #36baaf;
}
body {
	background: #efefef;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- ACTION LINK ----- */
.link-action:hover {
	background-color: #36baaf;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th {
	background-color: #ddd;
	color: #000;
}
table.style-colorheader thead th,
table.style-colorstripes tbody td,
table.style-colorstripes tbody th {
    border-right: 1px solid rgba(255,255,255,0.2);
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes thead th {
	background-color: #aaa;
}
table.style-colorstripes thead th.highlight {
	background-color: #333;
}
table.style-colorstripes thead th,
table.style-colorstripes tbody tr,
table.style-colorstripes tbody td {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
}
table.style-colorstripes tbody tr {
	background-color: #e0e0e0;
	color: #000;
}
table.style-colorstripes tbody .highlight {
	background-color: #aaa;
}
table.style-colorstripes tbody tr.odd {
	background-color: #eee;
	color: #000;
}
table.style-colorstripes tbody tr.odd .highlight {
	background-color: #999;
}
table.style-colorstripes tbody tr:hover th,
table.style-colorstripes tbody tr:hover td {
	background-color: #ccc;
}
table.style-colorstripes tbody tr:hover .highlight {
	background-color: #777;
}
table.style-colorstripes tfoot th,
table.style-colorstripes tfoot td {
	background-color: #bbb;
	color: #555;
	border-left: none;
}
.sectiontableheader {
	background-color: #55C9E1;
}
/* ============================== MODULE STYLES ============================== */
div.lightbox-2 h3.jsn-moduletitle {
	position: relative;
}
div.lightbox-2 h3.jsn-moduletitle:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	display: block;
	width: 70px;
	height: 1px;
	background-color: #36baaf;
}
div.richbox-2 h3.jsn-moduletitle {
	border-bottom: 1px solid #ddd;
}
div.solid-2 {
	background: #36baaf;
}
/* ============================== MENU ============================== */
/* =============== MENU - MAIN MENU =============== */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > a,
div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
	color: #36baaf;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
	color: #36baaf;
}
/* =============== MENU - SIDE/TREE MENU =============== */
div.jsn-modulecontainer ul.menu-treemenu li:hover > a,
div.jsn-modulecontainer ul.menu-treemenu li.active > a,
div.jsn-modulecontainer ul.menu-sidemenu li:hover > a,
div.jsn-modulecontainer ul.menu-sidemenu li.active > a,
div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu li:hover > a .jsn-menudescription,
div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu li.active > a .jsn-menudescription {
	color: #36baaf;
}
/* PAGE PAGINATION */
ul.jsn-pagination li a:hover {
	background: #36baaf;
}
#jsn-promo,
#jsn-content-top,
#jsn-content-bottom-over,
#jsn-footer,
#jsn-usermodules3,
#jsn-usermodules3 h3.jsn-moduletitle,
#jsn-promo h3.jsn-moduletitle,
#jsn-content-top h3.jsn-moduletitle {
	color: #222;
}
#jsn-footer a {
	color: #36baaf;
}



