/**
 * Stylesheet for font faces
 *
 * @package         NoNumber Framework
 * @version         15.1.3
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2015 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

@font-face {
	font-family: 'NoNumber';
	src: url('../fonts/NoNumber.eot');
	src: url('../fonts/NoNumber.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NoNumber.woff') format('woff'),
	url('../fonts/NoNumber.ttf') format('truetype'),
	url('../fonts/NoNumber.svg#nonumber') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NNIcons';
	src: url('../fonts/NNIcons.eot');
	src: url('../fonts/NNIcons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NNIcons.woff') format('woff'),
	url('../fonts/NNIcons.ttf') format('truetype'),
	url('../fonts/NNIcons.svg#NNIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-nonumber,
[class^="nnicon-"],
[class*=" nnicon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	.ie7-restore-right-whitespace();
	line-height: 16px;
	font-size: 16px;

	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nonumber {
	&:before {
		font-family: 'NoNumber' !important;
		font-size: 14.2px !important;
	}
}

.btn .icon-nonumber {
	text-indent: -2px;
}

.btn .icon-nonumber:before {
	vertical-align: -3px;
}

.icon-nonumber-24:before {
	vertical-align: -5px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.icon-nonumber-24:before {
		vertical-align: -3px;
	}
}

.btn .icon-nonumber {
	text-indent: -2px;
}

.icon- {
	&nonumber:before {
		content: "\e000";
	}
	&addtomenu:before {
		content: "\e001";
	}
	&adminbardocker:before {
		content: "\e002";
	}
	&advancedmodulemanager:before {
		content: "\e003";
	}
	&advancedtemplatemanager:before {
		content: "\e015";
	}
	&articlesanywhere:before {
		content: "\e004";
	}
	&betterpreview:before {
		content: "\e005";
	}
	&cachecleaner:before {
		content: "\e006";
	}
	&cdnforjoomla:before {
		content: "\e007";
	}
	&componentsanywhere:before {
		content: "\e008";
	}
	&contenttemplater:before {
		content: "\e009";
	}
	&dbreplacer:before {
		content: "\e00a";
	}
	&dummycontent:before {
		content: "\e017";
	}
	&emailprotector:before {
		content: "\e00b";
	}
	&iplogin:before {
		content: "\e016";
	}
	&modals:before,
	&modalizer:before {
		content: "\e00c";
	}
	&modulesanywhere:before {
		content: "\e00d";
	}
	&rereplacer:before {
		content: "\e00e";
	}
	&sliders:before {
		content: "\e00f";
	}
	&snippets:before {
		content: "\e010";
	}
	&sourcerer:before {
		content: "\e011";
	}
	&tabs:before {
		content: "\e012";
	}
	&timedstyles:before {
		content: "\e013";
	}
	&tooltips:before {
		content: "\e014";
	}
	&whatnothing:before {
		content: " ";
		width: 16px;
		display: inline-block;
	}
}

[class^="nnicon-"],
[class*=" nnicon-"] {
	&:before {
		font-family: 'NNIcons' !important;
	}
}

.nnicon- {
	&paragraph-left:before {
		content: "\e001";
	}
	&paragraph-center:before {
		content: "\e002";
	}
	&paragraph-right:before {
		content: "\e003";
	}
	&paragraph-justify:before {
		content: "\e004";
	}
	&undo:before {
		content: "\e005";
	}
	&redo:before {
		content: "\e006";
	}
	&spinner:before {
		content: "\e007";
	}
	&lock:before {
		content: "\e008";
	}
	&unlocked:before {
		content: "\e009";
	}
	&cog:before {
		content: "\e00a";
	}
	&arrow-up:before {
		content: "\e00b";
	}
	&arrow-right:before {
		content: "\e00c";
	}
	&arrow-down:before {
		content: "\e00d";
	}
	&arrow-left:before {
		content: "\e00e";
	}
	&top:before {
		content: "\e00f";
	}
	&bottom:before {
		content: "\e010";
	}
	&simple:before {
		content: "\e011";
	}
	&normal:before {
		content: "\e012";
	}
	&advanced:before {
		content: "\e013";
	}
	&home:before {
		content: "\e014";
	}
	&info:before {
		content: "\e015";
	}
	&warning:before {
		content: "\e016";
	}
	&not-ok:before {
		content: "\e017";
	}
	&link:before {
		content: "\e018";
	}
	&eye:before {
		content: "\e019";
	}
	&search:before {
		content: "\e01a";
	}
	&earth:before {
		content: "\e01f";
	}
}

.icon-nonumber.icon-src-sourcetags:before,
.nnicon-src-sourcetags:before {
	font-family: 'NNIcons' !important;
	content: "\e01b";
}

.icon-nonumber.icon-src-nosourcetags:before,
.nnicon-src-nosourcetags:before {
	font-family: 'NNIcons' !important;
	content: "\e01c";
}

.icon-nonumber.icon-src-tagstyle:before,
.nnicon-src-tagstyle:before {
	font-family: 'NNIcons' !important;
	content: "\e01d";
}

.icon-nonumber.icon-src-tagstylebrackets:before,
.nnicon-src-tagstylebrackets:before {
	font-family: 'NNIcons' !important;
	content: "\e01e";
}

.icon-expired:before {
	content: "\6e";
}
