/* ==================== CUSTOM CSS ==================== */
/* --------- OVERRIDE IMAGESHOW --------- */
body.jsn-homepage #jsn-promo-inner,
body.jsn-homepage #jsn-promo-inner div.jsn-modulecontainer,
body.jsn-homepage #jsn-pos-content-top,
body.jsn-homepage .label_skitter,
body.jsn-homepage .box_skitter {
	background:none !important;
}
/* --------- CONTENT-TOP --------- */
#jsn-template-features {
	color: #fff;
}
h1.jsn-title {
	font-size: 40px;
	font-weight: 400;
	color: #fff;
	line-height: 50px;
}
h1.jsn-title span {
	font-weight: 100;
	display: block;
}
#jsn-template-features h3 {
	text-transform: uppercase;
	font-weight: 100;
	color: #fff;
}
#jsn-template-features .row-fluid {
	margin-top: 45px;
	font-size: 16px;
}
#jsn-template-features .span4 a {
	padding: 15px;
	margin-bottom: 35px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid rgba(255,255,255,.6);
	display: inline-block;
}
#jsn-template-features .span4 a span {
	padding: 15px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid rgba(255,255,255,.6);
	display: inline-block;
	width: 60px;
	height: 60px;
	text-indent: -999em;
	background: url(../images/icons/icon-flat.png) center 14px no-repeat;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-ms-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}
#jsn-template-features .span4 a span:hover {
	transform-style: preserve-3d;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
#jsn-template-features .span4 a.jsn-icon-fav span {
	background-position: center -225px;
}
#jsn-template-features .span4 a.jsn-icon-eye span {
	background-position: center -105px;
}
#jsn-sitetools-inline{display:none !important}
