/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
html, body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
/* =============== DEFAULT HTML - TEXT STYLES =============== */
p, pre, blockquote, form, dl, ul, ol, fieldset, address {
	margin: 0.35em 0 0.8em 0;
	padding: 0;
}
fieldset {
	padding: .5em;
}
small {
	font-size: .85em;
}
sup {
	font-size: .8em;
	position: relative;
	bottom: 0.3em;
	vertical-align: baseline;
}
sup em {
	color: red;
}
acronym, abbr {
	border-bottom: 1px dashed;
	letter-spacing: 1px;
	cursor: help;
}
hr {
	height: 1px;
	border: none;
	margin: 0.75em 0;
	background-color: #ddd;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	font-size: 1.4em;
	color: #000000;
}
h2 {
	font-size: 1.3em;
	color: #000000;
}
h3 {
	font-size: 1.15em;
	color: #666;
}
h4 {
	font-size: 1.1em;
	color: #CC8033;
}
h5, h6 {
	font-size: 1em;
	font-weight: bold;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.8em 0 0.3em 0;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	margin: 0.3em 0 0.3em 1.6em;
	padding: 0;
}
ol li {
	margin: 0.3em 0 0.3em 2em;
	padding: 0;
}
/* =============== DEFAULT HTML - IMAGES STYLES =============== */
img {
	border: none;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}
.clearbreak {
	clear: both;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background-color: #EFEFEF;
}
#jsn-page {
	color: #666;
	width: 750px;
	margin: 100px auto;
	background-color: #fff;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-header {
	position: relative;
	overflow: hidden;
	border-bottom: 3px solid #373D40;
	background: #fff;
	padding: 10px;
}
#jsn-logo {
	position: relative;
}
#jsn-logo a {
	line-height: 100%;
	display: inline-block;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-error-heading {
	float: left;
	width: 265px;
}
#jsn-error-heading h1 {
	margin: 18px 0;
	color: #ff7200;
	font-size: 7.5em;
	line-height: 1em;
	text-align: center;
}
#jsn-error-heading h1 .heading-medium,
#jsn-error-heading h1 .heading-small {
	display: block;
}
#jsn-error-heading h1 .heading-medium {
	font-size: 0.67em;
	line-height: 1.05em;
	margin-bottom: 15px;
}
#jsn-error-heading h1 .heading-small {
	color: #666;
	font-size: 38px;
	line-height: 1.4em;
}
#jsn-error-content {
	float: left;
	width: 483px;
}
#jsn-error-content_inner {
	padding: 12px;
	margin: 20px 20px 20px 10px;
	border: 1px solid #ddd;
	background-color: #F8FAFB;
}
#jsn-error-content h3 {
	margin: 5px 0;
	font-weight: normal;
}
#jsn-error-content #mod-search-searchword {
	padding: 5px;
	width: 320px;
	border: 1px solid #ddd;
}
#jsn-error-content ul {
	margin: 10px 0 15px 0;
}
#jsn-error-content ul li {
	font-size: 15px;
	line-height: 1.55em;
	margin: 0 0 0 1.5em;
}
#jsn-error-content .link-button {
	cursor: pointer;
	font-size: 12px;
	padding: 5px 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	border: none;
	color: #fff;
}
.link-button.button-orange {
    background-color: #ff7200;
}
#jsn-error-content .link-button:hover {
	background-color: #1E2224;
}
#jsn-error-content #search-form {
	margin: 0;
} 
#jsn-error-content #link-goback {
	margin: 7px;
}
.link-action {
	color: #ff7200;
	font-size: 14px;
	padding: 2px 3px;
	text-decoration: none;
	-moz-transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.link-action:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #ff7200;
}
@media only screen and (max-width: 960px),(max-device-width: 960px) {
	#jsn-page {
		width: auto;
	}
	#jsn-error-content_inner {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 960px),(min-device-width: 768px) and (max-device-width: 960px) {
	#jsn-page {
		margin-left: 20px;
		margin-right: 20px;
	}
	#jsn-error-heading {
		width: 35%;
	}
	#jsn-error-content {
		width: 64%;
	}
}
@media only screen and (max-width : 767px),(max-device-width: 767px) {
	#jsn-page {
		margin-top: 0;
	}
	#jsn-error-heading,
	#jsn-error-content {
		width: 100%;
		float: none;
	}
	#jsn-error-heading img {
		margin-top: 50px;
	}
}
@media only screen and (max-width : 480px) and (orientation: portrait),(max-device-width: 480px) and (orientation: portrait) {
	#jsn-page #jsn-error-content #mod-search-searchword {
		width: auto;
	}
}