* @author    JoomlaShine.com http://www.joomlashine.com

* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.

* @license   JoomlaShine.com Proprietary License

*/

/* ============================== DEFAULT HTML ============================== */

/* ============================== LAYOUT ============================== */

/* =============== LAYOUT - GENERAL LAYOUT =============== */
#jsn-master{letter-spacing:4px}
#jsn-page {

	transition: width 0.3s ease-in-out;

	-moz-transition: width 0.3s ease-in-out;

	-webkit-transition: width 0.3s ease-in-out;

}

body.jsn-desktop-on-mobile #jsn-page {

	overflow: hidden; letter-spacing:4px;

}

div.jsn-modulecontainer:first-child,

div.jsn-horizontallayout div.jsn-modulecontainer {

	margin-top: 0;

}

div#jsn-pos-breadcrumbs.display-mobile,

div.jsn-modulecontainer.display-mobile,

div#jsn-pos-breadcrumbs.display-tablet,

div.jsn-modulecontainer.display-tablet,

div#jsn-pos-breadcrumbs.display-smartphone,

div.jsn-modulecontainer.display-smartphone {

	display: none;

}

div#jsn-pos-breadcrumbs.display-desktop,

div.jsn-modulecontainer.display-desktop {

	display: block;

}

/* =============== LAYOUT - HEADER AREA =============== */

#jsn-header {

	transition: height 0.4s ease-in-out;

	-moz-transition: height 0.4s ease-in-out;

	-webkit-transition: height 0.4s ease-in-out;

}

#jsn-logo a {

	-webkit-transition: line-height .4s ease-in-out;

	-moz-transition: line-height .4s ease-in-out;

	-ms-transition: line-height .4s ease-in-out;

	-o-transition: line-height .4s ease-in-out;

	transition: line-height .4s ease-in-out;	

}

#jsn-logo #jsn-logo-mobile {

	display: none;

}

#jsn-logo .jsn-topheading {

	display: none;

}

/* ---------- STICKY HEADER STYLE ---------- */

#jsn-header.jsn-menu-sticky {

	position: fixed;

	top: 0;

	

	-webkit-transition: height .4s ease-in-out;

	-moz-transition: height .4s ease-in-out;

	-ms-transition: height .4s ease-in-out;

	-o-transition: height .4s ease-in-out;

	transition: height .4s ease-in-out;

}

#jsn-header.jsn-menu-sticky #jsn-topheader {

	display: none;

}

#jsn-header.jsn-menu-sticky #jsn-header_inner {

	height: 100%;

}

#jsn-header.jsn-menu-sticky #jsn-logo a #jsn-logo-desktop {

	/*height: 25px;*/

}

#jsn-header.jsn-menu-sticky #jsn-logo a {

	line-height: 60px;

	-webkit-transition: line-height .4s ease-in-out;

	-moz-transition: line-height .4s ease-in-out;

	-ms-transition: line-height .4s ease-in-out;

	-o-transition: line-height .4s ease-in-out;

	transition: line-height .4s ease-in-out;

}

#jsn-header.jsn-menu-sticky ul.menu-mainmenu > li > a {

	padding: 20px;

}

#jsn-header.jsn-menu-sticky #jsn-pos-mainmenu div.search input#mod-search-searchword {

	margin: 20px 0;

}

#jsn-header.jsn-menu-sticky #jsn-pos-mainmenu .display-dropdown.jsn-modulecontainer .jsn-moduletitle {

	padding: 17px 20px;

}

/* =============== LAYOUT - MENU AREA =============== */

#jsn-menu div.jsn-modulecontainer {

	float: left;

	margin: 0;

}

/* =============== DISPLAY DROPDOWN/INLINE MENU SUFFIX =============== */

#jsn-pos-toolbar {

	float: right;

}

#jsn-pos-toolbar .jsn-modulecontainer {

	float: right;

	margin: 0;

}

#jsn-pos-toolbar .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner,

#jsn-pos-mainmenu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner {

	position: relative;

	margin: 0;

}

#jsn-pos-toolbar .display-dropdown.jsn-modulecontainer .jsn-modulecontent,

#jsn-pos-mainmenu .display-dropdown.jsn-modulecontainer .jsn-modulecontent {

	visibility: hidden;

	opacity: 0;

	filter: alpha(opacity=0);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	background: #fff;

	color: #000;

	position: absolute;

	right: 0;

	padding: 10px;

	border: 1px solid #ddd;

	border-top: none;

	min-width: 250px;

	z-index: 200;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}

#jsn-pos-toolbar .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontent,

#jsn-pos-mainmenu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontent {

	visibility: visible;

	opacity: 1;

	filter: alpha(opacity=100);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}

#jsn-pos-toolbar .display-dropdown.jsn-modulecontainer .jsn-moduletitle,

#jsn-pos-mainmenu .display-dropdown.jsn-modulecontainer .jsn-moduletitle {

	color: #fff;

	font-size: 1em;

	padding: 5px 15px;

	line-height: 36px;

	margin: 0;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}

#jsn-pos-toolbar .jsn-modulecontainer.display-dropdown:hover .jsn-moduletitle,

#jsn-pos-toolbar .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-moduletitle {

	background: #373D40;

	cursor: pointer;

}

#jsn-pos-mainmenu .display-dropdown.jsn-modulecontainer .jsn-moduletitle {

	font-size: 16px;

	text-transform: uppercase;

	padding: 46px 20px 45px;

}

#jsn-pos-mainmenu .jsn-modulecontainer.display-dropdown:hover .jsn-moduletitle,

#jsn-pos-mainmenu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-moduletitle {

	cursor: pointer;

}

#jsn-pos-mainmenu .jsn-modulecontainer.display-dropdown .jsn-moduletitle:after {

	border-bottom: 8px solid #fff;

    border-left: 8px solid rgba(0, 0, 0, 0);

    border-right: 8px solid rgba(0, 0, 0, 0);

    content: "";

    display: inline-block;

    height: 0;

    width: 0;

    position: absolute;

    left: 50%;

    bottom: 0;

    margin-left: -9px;

    visibility: hidden;

	opacity: 0;

	filter: alpha(opacity=0);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}

#jsn-pos-mainmenu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-moduletitle:after {

	visibility: visible;

	opacity: 1;

	filter: alpha(opacity=100);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}

#jsn-pos-toolbar form {

	margin: 10px 0 0 0;

}

#jsn-pos-toolbar form .inputbox {

	padding: 5px;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

}

#jsn-pos-toolbar .jsn-modulecontainer.display-inline {

	margin: 0 15px;

}

#jsn-pos-toolbar .jsn-modulecontainer.display-inline #mod-search-searchword {

	margin: 10px 0;

	padding: 4px 6px;

}

/* =============== LAYOUT - CONTENT AREA =============== */

#jsn-gotoplink {

	color: #DDD;

	z-index: 888;

	text-transform: uppercase;

	display: block;

	position: fixed;

	right: 50px;

	bottom: 50px;

	background: #000 url(../images/go-to-top.png) center 18px no-repeat;

	text-indent: -999em;

	width: 50px;

	height: 50px;

	border-radius: 100%;

	-moz-border-radius: 100%;

	-webkit-border-radius: 100%;

	transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}

#jsn-gotoplink:hover {

	color: #e5e5e5;

	text-decoration: none;

	background-color: #444;

}

/* =============== BACKGROUND POSITION =============== */

#jsn-pos-background {

    margin: 0 auto;

    overflow: hidden;

    position: fixed;

    top: 0;

	text-align: center;

    width: 100%;

    z-index: -100;

}

#jsn-pos-background p {

	margin: 0;

}

#jsn-pos-background img {

	width: 100%;

}

/* ============================== TYPOGRAPHY ============================== */

/* =============== TYPOGRAPHY - TEXT STYLES =============== */

.text-alert {

	background: #ec7695 url(../images/icons/icon-text-alert.png) no-repeat;

}

.text-info {

	background: #3f8fd2 url(../images/icons/icon-text-info.png) no-repeat;

}

.text-download {

	background: #4ab660 url(../images/icons/icon-text-download.png) no-repeat;

}

.text-comment {

	background: #cfb81c url(../images/icons/icon-text-comment.png) no-repeat;

}

.text-tip {

	background: #2fb7a2 url(../images/icons/icon-text-tip.png) no-repeat;

}

.text-attachment {

	background: #b388bd url(../images/icons/icon-text-attachment.png) no-repeat;

}

.text-video {

	background: #f6583e url(../images/icons/icon-text-video.png) no-repeat;

}

.text-audio {

	background: #f48019 url(../images/icons/icon-text-audio.png) no-repeat;

}

.text-tip,

.text-info,

.text-alert,

.text-audio,

.text-video,

.text-comment,

.text-download,

.text-attachment {

	background-position: left center;

	padding: 1em 1em 1em 5em;

	min-height: 20px;

	color: #fff;

}

/* =============== TYPOGRAPHY - LINK STYLES =============== */

/* ----- BUTTON LINK ----- */

.link-button {

	cursor: pointer;

	font-size: 16px;

	padding: 10px 15px;

	display: inline-block;

	text-decoration: none;

	color: #fff;

	border-radius: 2px;

	-moz-border-radius: 2px;

	-webkit-border-radius: 2px;

	transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}

a.link-button:hover,

.link-button a:hover {

	text-decoration: none;

	color: #fff;

	transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}

.link-button.button-light {

	border: 1px solid #e0e0e0;

	color: #737373;

}

.link-button.button-light:hover {

	background-color: #f8f8f8;

	color: #737373;

}

.link-button.button-dark {

	background: #4f4f4f;

}

.link-button.button-dark:hover {

	background: #868686;

}

.link-button.button-green {

	background: #8dc63f;

}

.link-button.button-green:hover {

	background: #a7e256;

}

.link-button.button-blue {

	background: #459ff3;

}

.link-button.button-blue:hover {

	background: #73b8f8;

}

.link-button.button-red {

	background: #c0191f;

}

.link-button.button-red:hover {

	background: #dc383e;

}

.link-button.button-orange {

	background: #f48019;

}

.link-button.button-orange:hover {

	background: #f8a154;

}

.link-button.button-violet {

	background: #8560a8;

}

.link-button.button-violet:hover {

	background: #ad8dcc;

}



.link-button .link-icon {

	margin: 3px 0;

	line-height: 36px;

}

/* ----- ICON LINK ----- */

.link-icon {

	display: inline-block;

	padding-left: 45px;

	line-height: 36px;

}

/* ----- EXTENDED LINK ----- */

.link-icon-ext {

	display: inline-block;

	padding-right: 22px;

	background: url(../images/icons/icons-ext.png) no-repeat right 0;

}

.link-icon-ext.jsn-icon-ext-aim {

	background-position: right 0;

}

.link-icon-ext.jsn-icon-ext-archive {

	background-position: right -86px;

}

.link-icon-ext.jsn-icon-ext-mobile {

	background-position: right -172px;

}

.link-icon-ext.jsn-icon-ext-css {

	background-position: right -258px;

}

.link-icon-ext.jsn-icon-ext-application {

	background-position: right -344px;

}

.link-icon-ext.jsn-icon-ext-doc {

	background-position: right -430px;

}

.link-icon-ext.jsn-icon-ext-feed {

	background-position: right -516px;

}

.link-icon-ext.jsn-icon-ext-movie {

	background-position: right -602px;

}

.link-icon-ext.jsn-icon-ext-flash {

	background-position: right -688px;

}

.link-icon-ext.jsn-icon-ext-calendar {

	background-position: right -774px;

}

.link-icon-ext.jsn-icon-ext-mail {

	background-position: right -860px;

}

.link-icon-ext.jsn-icon-ext-quicktime {

	background-position: right -946px;

}

.link-icon-ext.jsn-icon-ext-msn {

	background-position: right -1032px;

}

.link-icon-ext.jsn-icon-ext-music {

	background-position: right -1118px;

}

.link-icon-ext.jsn-icon-ext-pdf {

	background-position: right -1204px;

}

.link-icon-ext.jsn-icon-ext-powerpoint {

	background-position: right -1290px;

}

.link-icon-ext.jsn-icon-ext-skype {

	background-position: right -1376px;

}

.link-icon-ext.jsn-icon-ext-torrent {

	background-position: right -1462px;

}

.link-icon-ext.jsn-icon-ext-font {

	background-position: right -1548px;

}

.link-icon-ext.jsn-icon-ext-text {

	background-position: right -1634px;

}

.link-icon-ext.jsn-icon-ext-vcard {

	background-position: right -1720px;

}

.link-icon-ext.jsn-icon-ext-windowsmedia {

	background-position: right -1806px;

}

.link-icon-ext.jsn-icon-ext-xls {

	background-position: right -1892px;

}

.link-icon-ext.jsn-icon-ext-yahoo {

	background-position: right -1978px;

}

/* =============== TYPOGRAPHY - TABLE STYLES =============== */

table.table-style {

	background: #ffffff;

	border-collapse: collapse;

	border-spacing: 0;

	color: #404040;

}

table.table-style caption {

	padding: 6px 0;

	text-transform: uppercase;

	text-align: center;

	font-size: 1.2em;

	font-weight: bold;

}

table.table-style td,

table.table-style th {

	padding: 10px;

	border-bottom: 1px solid #DEDEDE;

}

table.table-style.style-colorstripes tbody th,

table.table-style .style-colorstripes tbody td {

	border-bottom: none;

}

table.table-style th {

	text-align: left;

}

table.table-style .highlight {

	font-size: 14px;

	font-weight: normal;

	color: #404040;

}

table.table-style thead th {

	font-size: 1.1em;

	border-top: 6px solid #fff;

	color: #ffffff;

	border-right: 1px groove #fff;

}

table.table-style thead th.highlight {

	border-top: none;

	background-color: #666;

	color: #fff;

	font-weight: bold;

}

table.table-style tbody th,

table.table-style tbody td {

	vertical-align: top;

	text-align: left;

}

table.table-style tbody .highlight {

	background-color: #FAFAFA;

}

table.table-style tbody tr.odd {

	background: #fafafa;

}

table.table-style tbody tr.odd .highlight {

	background-color: #f0f0f0;

}

table.table-style tbody tr:hover th,

table.table-style tbody tr:hover td {

	background: #f0f0f0;

}

table.table-style tbody tr:hover .highlight {

	background: #e3e3e3;

}

table.table-style tfoot {

	border: 1px solid #DEDEDE;

}

table.table-style tfoot th,

table.table-style tfoot td {

	padding: 4px 10px;

	background-color: #f0f0f0;

}

table.table-style tfoot td {

	text-align: right;

}

/* ----- COLOR HEADER TABLE ----- */

table.style-colorheader thead th.highlight {

	background-color: #333333;

}

/* ----- COLOR STRIPES TABLE ----- */

table.style-colorstripes {

	color: #fff;

}

table.style-colorstripes thead,

table.style-colorstripes tfoot {

	border: none;

}

table.style-colorstripes tbody .highlight {

	color: #fff;

}

table.table-style.style-colorstripes tbody td,

table.table-style.style-colorstripes tbody th {

	border-bottom: none;

	border-left: none;

}

/* ----- GREY STRIPES TABLE ----- */

table.style-greystripes thead th {

	background: #5d5d5d;

	border-right: 1px groove #FFF;

}

/* =============== TYPOGRAPHY - LIST STYLES =============== */

/* ----- ICON LIST ----- */

ul.list-icon {

	list-style-type: none;

}

ul.list-icon li {

	margin: 10px 0;

	position: relative;

	padding-left: 40px;

	line-height: 36px;

}

ul.list-icon li .jsn-listbullet {

	top: 0;

	left: 0;

	width: 36px;

	height: 36px;

	position: absolute;

}

/* ----- BULLET NUMBER LIST ----- */

ul.list-number-bullet {

	list-style: none;

}

ul.list-number-bullet li {

	margin-left: 0;

	position: relative;

	padding: 6px 0 6px 36px;

}

ul.list-number-bullet li .jsn-listbullet {

	color: #676767;

	height: 28px;

	font-size: 16px;

	color: #fff;

	line-height: 28px;

	text-align: center;

	margin: 4px;

	left: 0;

	top: -2px;

	width: 28px;

	display: block;

	position: absolute;

	border-radius: 100%;

	-moz-border-radius: 100%;

	-webkit-border-radius: 100%;

}

ul.list-number-bullet.bullet-grey li .jsn-listbullet {

	background: #999;

}

ul.list-number-bullet.bullet-blue li .jsn-listbullet {

	background: #459ff3;

}

ul.list-number-bullet.bullet-red li .jsn-listbullet {

	background: #f65637;

}

ul.list-number-bullet.bullet-orange li .jsn-listbullet {

	background: #f67739;

}

ul.list-number-bullet.bullet-green li .jsn-listbullet {

	background: #8dc63f;

}

ul.list-number-bullet.bullet-violet li .jsn-listbullet {

	background: #8560a8;

}

/* ----- DIGIT NUMBER LIST ----- */

ul.list-number-digit {

	list-style: none;

}

ul.list-number-digit li {

	margin-left: 0;

	position: relative;

	padding: 8px 0 8px 42px;

}

ul.list-number-digit li .jsn-listbullet {

	top: 0;

	left: 0;

	width: 32px;

	display: block;

	font-size: 32px;

	line-height: 100%;

	text-align: right;

	position: absolute;

}

ul.list-number-digit.digit-blue li .jsn-listbullet {

	color: #407692;

}

ul.list-number-digit.digit-green li .jsn-listbullet {

	color: #516A2C;

}

ul.list-number-digit.digit-grey li .jsn-listbullet {

	color: #676767;

}

ul.list-number-digit.digit-orange li .jsn-listbullet {

	color: #A36A06;

}

ul.list-number-digit.digit-red li .jsn-listbullet {

	color: #943945;

}

ul.list-number-digit.digit-violet li .jsn-listbullet {

	color: #7B5677;

}

/* ----- HORIZONTAL LIST ----- */

ul.list-horizontal {

	margin: 0;

	list-style: none;

}

ul.list-horizontal li {

	display: inline;

	margin: 0 .5em;

}

/* ----- NOBULLET LIST ----- */

ul.list-nobullet {

	margin: 0;

	list-style: none;

}

ul.list-nobullet li {

	margin-left: 0;

	padding-left: 0;

	list-style: none;

}

/* ============================== MENU ============================== */

/* ----- ICONS MENU STYLE ----- */

.menu-iconmenu li[class*="jsn-icon-"] > a > span {

	padding-left: 45px;

	line-height: 36px;

}

.jsn-menu-toggle {

	display: none;

}

div.jsn-modulecontainer ul.menu-mainmenu ul {

	visibility: hidden;

	visibility: visible\9;

	display: none\9;

	border-radius: 0 0 5px 5px;

	-webkit-transition: visibility 0s linear, opacity 0.4s ease-in-out, top 0.3s ease;

	-moz-transition: visibility 0s linear, opacity 0.4s ease-in-out, top 0.3s ease;

	-ms-transition: visibility 0s linear, opacity 0.4s ease-in-out, top 0.3s ease;

	-o-transition: visibility 0s linear, opacity 0.4s ease-in-out, top 0.3s ease;

	transition: visibility 0s linear, opacity 0.4s ease-in-out, top 0.3s ease;

}

div.jsn-modulecontainer ul.menu-mainmenu li:hover > ul {

	visibility: visible;

	display: block\9;

}

div.jsn-modulecontainer ul.menu-mainmenu > li > ul {

	left: 0;

	transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}

ul.menu-mainmenu.jsn-desktop-on-mobile ul {

	display: none;

}

ul.menu-mainmenu.jsn-desktop-on-mobile li:hover > ul {

	display: block;

}

/* ----- ICON MENU STYLE ----- */

div.jsn-modulecontainer ul.menu-mainmenu.menu-iconmenu > li > a > span {

	line-height: 16px;

}

div.jsn-modulecontainer ul.menu-mainmenu.menu-iconmenu:not(.menu-richmenu) > li > a > span {

	line-height: 35px;

}

/* =============== MENU - MAIN MENU =============== */

div.jsn-modulecontainer ul.menu-mainmenu li a {

	transition: color 0.3s ease-in-out;

	-moz-transition: color 0.3s ease-in-out;

	-webkit-transition: color 0.3s ease-in-out;

}

div.jsn-modulecontainer ul.menu-mainmenu > li > a {

	transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}

/* ========= MENU - FLIPBACK ========= */

div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback > ul {

	right: 0;

}

div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback a {

	text-align: right;

}

div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback ul li.parent > a {

    background-image: url("../images/icons/icon-arrow-black-rtl.png");

    background-position: 5% center;

}

div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback ul ul {

    margin-left: 0;

    left: auto;

}

/* =============== MENU SUFFIX =============== */

#jsn-menu #jsn-pos-toolbar div.jsn-modulecontainer {

	margin: 0;

}

#jsn-pos-toolbar form {

	margin: 0;

}

/* =============== MENU - SIDE MENU =============== */

/* ----- GENERAL ----- */

div.jsn-modulecontainer ul.menu-sidemenu {

	margin: 0;

	padding: 0;

	list-style-type: none;

}

div.jsn-modulecontainer ul.menu-sidemenu ul {

	border: 1px solid #e5e5e5;

	margin: 0;

	padding: 0;

	list-style-type: none;

}

div.jsn-modulecontainer ul.menu-sidemenu li {

	padding: 0;

	position: relative;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

}

div.jsn-modulecontainer ul.menu-sidemenu li {

	border-top: 1px solid #e5e5e5;

}

div.jsn-modulecontainer ul.menu-sidemenu li:first-child {

	border-top: none;

}

div.jsn-modulecontainer ul.menu-sidemenu > li {

	padding: 0;

}

div.jsn-modulecontainer ul.menu-sidemenu li ul {

	top: -1px;

}

div.jsn-modulecontainer ul.menu-sidemenu li a {

	display: block;

	color: #404040;

	cursor: pointer;

	text-decoration: none;

	line-height: 36px;

}

ul.menu-sidemenu li a {

	color: #d9d9d9;

}

div.jsn-modulecontainer ul.menu-sidemenu > li a {

	padding: 4px 10px;

}

ul.menu-sidemenu li > a > span {

	display: block;

}

div.jsn-modulecontainer ul.menu-sidemenu li > ul {

	visibility: hidden;

	visibility: visible\9;

	display: none\9;

	opacity: 0;

	filter: alpha(opacity=0);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	transition: all 0s ease-in-out;

	-moz-transition: all 0s ease-in-out;

	-webkit-transition: all 0s ease-in-out;

}

div.jsn-modulecontainer ul.menu-sidemenu li:hover > ul {

	visibility: visible;

	display: block\9;

	opacity: 1;

	filter: alpha(opacity=100);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}

/* ----- ICON MENU STYLE ----- */

div.jsn-modulecontainer ul.menu-sidemenu.menu-iconmenu > li > a {

	padding: 10px 0;

}

div.solid-2 ul.menu-sidemenu.menu-iconmenu [class*="icon-"] > a > span {

	background-image: url(../images/icons/icons-uni-white.png);

}

/* ----- RICH MENU STYLE ----- */

div.jsn-modulecontainer ul.menu-sidemenu li a span.jsn-menudescription {

	display: none;

}

div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu li a span.jsn-menudescription {

	color: #9c9c9c;

	display: block;

	transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}

div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu.menu-iconmenu > li > a span {

	line-height: 1.7;

}

div.solid-2 ul.menu-sidemenu > li {

	border-color: #eee\9;

	border-color: rgba(255,255,255,0.4);

}

div.solid-2 ul.menu-sidemenu > li > a,

div.solid-2 ul.menu-sidemenu.menu-richmenu > li > a span.jsn-menudescription {

	color: #ddd\9;

	color: rgba(255,255,255,0.7);

}

div.solid-2 ul.menu-sidemenu > li:hover > a,

div.solid-2 ul.menu-sidemenu > li.active > a,

div.solid-2 ul.menu-sidemenu.menu-richmenu > li:hover > a span.jsn-menudescription,

div.solid-2 ul.menu-sidemenu.menu-richmenu > li.active > a span.jsn-menudescription {

	color: #fff !important;

}

/* ---------- 1st LEVEL ---------- */

div.jsn-modulecontainer ul.menu-sidemenu ul {

	top: 0;

	position: absolute;

	background: #fff;

}

div.jsn-modulecontainer ul.menu-sidemenu ul li a {

	color: #737373;

	display: block;

	cursor: pointer;

}

div.jsn-modulecontainer ul.menu-sidemenu ul ul {

	top: -1px;

}

/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */

/* 1st LEVEL */

div.jsn-modulecontainer ul.menu-sidemenu li.parent > a {

	padding-right: 16px;

	background: url(../images/icons/icon-arrow-black.png) 96% center no-repeat;

}

div.solid-2.jsn-modulecontainer ul.menu-sidemenu li.parent > a {

	background-image: url(../images/icons/icon-arrow-white.png);

}

/* ----- HOVER STATE ----- */

div.jsn-modulecontainer ul.menu-sidemenu li:hover > ul {

	left: auto;

}

/* ----- ACTIVE STATE ----- */

div.jsn-modulecontainer ul.menu-sidemenu > li.active > a {

	font-weight: 400;

}

/* ============================== MODULE STYLES ============================== */

/* =============== MODULE STYLES - MODULE ICONS =============== */

div[class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon {

	padding-left: 45px;

	line-height: 36px;

	display: block;

}

/* ============================== MOBILE SWITCH ============================== */

#jsn-mobileswitch {

	display: none;

	float: right;

	margin: 40px 5px 40px 0;

	transition: margin 0.4s ease-in-out;

	-moz-transition: margin 0.4s ease-in-out;

	-webkit-transition: margin 0.4s ease-in-out;

}

#jsn-header.jsn-menu-sticky #jsn-mobileswitch {

	margin-top: 10px;

	margin-bottom: 10px;

}

#jsn-mobileswitch a {

	margin-top: 10px;

	display: inline-block;

	width: 16px;

	height: 16px;

	line-height: 16px;

	padding: 5px;

	vertical-align: text-top;

	background: url(../images/icons/icons-mobile.png) 4px -168px no-repeat;

}

#jsn-desktopswitch {

	display: none;

	padding: 17px 10px;

	margin-top: 7px;

	float: right;

}

#jsn-desktopswitch a {

	display: inline-block;

	width: 16px;

	height: 16px;

	line-height: 16px;

	vertical-align: text-top;

	background: url(../images/icons/icons-mobile.png) 0 -87px no-repeat;

}

@media only screen and (max-device-width: 960px) {

	body.jsn-mobile #jsn-desktopswitch {

		display: block;

	}

	body.jsn-desktop.jsn-responsive #jsn-mobileswitch {

		display: block;

	}

	body.jsn-desktop-on-mobile {

		-webkit-text-size-adjust: none;

	}

	body.jsn-desktop-on-mobile #jsn-page {

		overflow: hidden;

	}

	/* Fix Hover Event on touch mobile devices */

	ul.menu-mainmenu li ul,

 	ul.menu-sidemenu li ul {

		transition: none !important;

		-moz-transition: none !important;

		-webkit-transition: none !important;

		-ms-transition: none !important;

		-o-transition: none !important;

	}

	body.jsn-desktop-on-mobile #jsn-topheader-inner,

	body.jsn-desktop-on-mobile #jsn-header_inner,

	body.jsn-desktop-on-mobile #jsn-promo_inner,

	body.jsn-desktop-on-mobile #jsn-content-top_inner,

	body.jsn-desktop-on-mobile #jsn-content,

	body.jsn-desktop-on-mobile #jsn-content-bottom_inner,

	body.jsn-desktop-on-mobile #jsn-content-bottom-over_inner,

	body.jsn-desktop-on-mobile #jsn-usermodules3-inner,

	body.jsn-desktop-on-mobile #jsn-bottom_inner,

	body.jsn-desktop-on-mobile #jsn-footer-inner, 

	body.jsn-desktop-on-mobile #template-detail-inner,

	body.jsn-desktop-on-mobile #jsn-blog-promo-inner,

	body.jsn-desktop-on-mobile #extension-detail-inner,

	body.jsn-desktop-on-mobile #jsn-menu.jsn-menu-sticky {

		width: auto;

	}

	ul#jsn-sitetools-menu li.active ul {

	    background-color: #000000;

	}

}

/* ============================== SITE TOOLS ============================== */

/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */

ul#jsn-sitetools-menu ul li a,


ul#jsn-sitetools-inline ul li a {

	float: left;

	width: 15px;

	height: 15px;

	display: inline-block;

	margin: 12px 5px;

	transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}

ul#jsn-sitetools-menu ul li a:hover,

ul#jsn-sitetools-inline ul li a:hover {

	transition: all 0.2s ease-in-out;

	-moz-transition: all 0.2s ease-in-out;

	-webkit-transition: all 0.2s ease-in-out;

}

/* ----- DROP DOWN ----- */

ul#jsn-sitetools-menu,

ul#jsn-sitetools-menu ul {

	list-style: none;

	padding: 0;

	margin: 0;

}

ul#jsn-sitetools-menu li {

	padding: 0;

	margin: 0;

	background: url(../images/icons/icons-uni-white.png) center -1495px no-repeat;

}

ul#jsn-sitetools-menu li,

ul#jsn-sitetools-inline li {

	position: relative;

}

ul#jsn-sitetools-menu > li {

	position: absolute;

	height: 50px;

}

ul#jsn-sitetools-menu li a {

	margin: 0;

	padding: 0;

	width: 50px;

	height: 100%;

	display: block;

}

ul#jsn-sitetools-menu li ul {

	z-index: 90;

	left: 0;

	top: 0;

	position: absolute;

	visibility: hidden;

	visibility: visible\9;

	display: none\9;

	width: 170px;

}

ul#jsn-sitetools-menu li:hover ul {

	left: 50px;

	visibility: visible;

	display: block\9;

}

ul#jsn-sitetools-menu.sitetool-desktop-on-mobile li ul {

	display: none;

}

ul#jsn-sitetools-menu.sitetool-desktop-on-mobile li.active ul {

	display: block;

}

ul#jsn-sitetools-menu ul li {

	padding: 5px;

	background: none;

}

ul#jsn-sitetools-menu.sitetool-desktop-on-mobile ul li {

	padding: 5px 5px 0;

}

/* ----- INLINE ROW ----- */

ul#jsn-sitetools-inline {

	float: left;

	list-style: none;

	margin: 4px 0 3px;

}

ul#jsn-sitetools-inline ul {

	float:left;

	margin:0;

}

ul#jsn-sitetools-inline li {

	padding: 0;

	margin: 0;

	list-style:none;

}

ul#jsn-sitetools-inline li.jsn-selector-size {

	margin-bottom: 5px !important;

}

ul#jsn-sitetools-inline > li > a {

	display: none;

}

/* =============== SITE TOOLS - COLOR SELECTOR =============== */

#jsn-selector-blue,

#jsn-selector-red,

#jsn-selector-green,

#jsn-selector-violet,

#jsn-selector-orange,

#jsn-selector-grey,

#jsn-selector-blue.current,

#jsn-selector-blue:hover,

#jsn-selector-red.current,

#jsn-selector-red:hover,

#jsn-selector-green.current,

#jsn-selector-green:hover,

#jsn-selector-violet.current,

#jsn-selector-violet:hover,

#jsn-selector-orange.current,

#jsn-selector-orange:hover,

#jsn-selector-grey.current,

#jsn-selector-grey:hover {

	background-image: url(../images/icons/icons-sitetools-inline-color.png);

	background-repeat: no-repeat;

}

#jsn-selector-blue {

	background-position: -28px -4px;

}

#jsn-selector-red {

	background-position: -122px -4px;

}

#jsn-selector-orange {

	background-position: -52px -4px;

}

#jsn-selector-green {

	background-position: -76px -4px;

}

#jsn-selector-violet {

	background-position: -4px -4px;

}

#jsn-selector-grey {

	background-position: -100px -4px;

}

#jsn-selector-blue.current,

#jsn-selector-blue:hover {

	background-position: -28px -24px;

}

#jsn-selector-red.current,

#jsn-selector-red:hover {

	background-position: -122px -24px;

}

#jsn-selector-orange.current,

#jsn-selector-orange:hover {

	background-position: -52px -24px;

}

#jsn-selector-green.current,

#jsn-selector-green:hover {

	background-position: -76px -24px;

}

#jsn-selector-violet.current,

#jsn-selector-violet:hover {

	background-position: -4px -24px;

}

#jsn-selector-grey.current,

#jsn-selector-grey:hover {

	background-position: -100px -24px;

}

/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */

/* ----- STANDARD CONTACT LAYOUT ----- */

div.contact .dl-horizontal dd {

	margin-left: 25px;

}

.jsn-joomla-30 div.search .inputbox {

	width: auto;

	max-width: 100%;

}

button#jform_profile_dob_img.btn {

	height: 30px;

}

/* =============== JOOMLA! EXTENSIONS - MOD_STATISTICS =============== */

dl.stats-module dt {

	float: left;

	width: 65%;

}

dl.stats-module dd {

	margin: 0;

}

/* ============================== MISC ============================== */

/* =============== GENERAL ICON ASSIGNMENT =============== */

.link-icon[class*="icon-"],

.link-button.button-light .link-icon[class*="icon-"],

.menu-iconmenu [class*="icon-"] > a > span,

.menu-treemenu.menu-iconmenu [class*="icon-"] > a > span,

.list-icon[class*="icon-"] li .jsn-listbullet,

[class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon {

	background-image: url(../images/icons/icons-uni.png);

	background-repeat: no-repeat;

}

.link-icon.jsn-icon-article,

.menu-iconmenu .jsn-icon-article > a > span,

.list-icon.jsn-icon-article li .jsn-listbullet,

.jsn-icon-article h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-article > a > span{

	background-position: 0 0;

}

.link-icon.jsn-icon-calendar,

.menu-iconmenu .jsn-icon-calendar > a > span,

.list-icon.jsn-icon-calendar li .jsn-listbullet,

.jsn-icon-calendar h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-calendar > a > span {

	background-position: 0 -100px;

}

.link-icon.jsn-icon-cart,

.menu-iconmenu .jsn-icon-cart > a > span,

.list-icon.jsn-icon-cart li .jsn-listbullet,

.jsn-icon-cart h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-cart > a > span {

	background-position: 0 -200px;

}

.link-icon.jsn-icon-comment,

.menu-iconmenu .jsn-icon-comment > a > span,

.list-icon.jsn-icon-comment li .jsn-listbullet,

.jsn-icon-comment h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-comment > a > span {

	background-position: 0 -300px;

}

.link-icon.jsn-icon-display,

.menu-iconmenu .jsn-icon-display > a > span,

.list-icon.jsn-icon-display li .jsn-listbullet,

.jsn-icon-display h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-display > a > span {

	background-position: 0 -400px;

}

.link-icon.jsn-icon-download,

.menu-iconmenu .jsn-icon-download > a > span,

.list-icon.jsn-icon-download li .jsn-listbullet,

.jsn-icon-download h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-download > a > span {

	background-position: 0 -500px;

}

.link-icon.jsn-icon-folder,

.menu-iconmenu .jsn-icon-folder > a > span,

.list-icon.jsn-icon-folder li .jsn-listbullet,

.jsn-icon-folder h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-folder > a > span {

	background-position: 0 -600px;

}

.link-icon.jsn-icon-help,

.menu-iconmenu .jsn-icon-help > a > span,

.list-icon.jsn-icon-help li .jsn-listbullet,

.jsn-icon-help h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-help > a > span {

	background-position: 0 -700px;

}

.link-icon.jsn-icon-home,

.menu-iconmenu .jsn-icon-home > a > span,

.list-icon.jsn-icon-home li .jsn-listbullet,

.jsn-icon-home h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-home > a > span {

	background-position: 0 -800px;

}

.link-icon.jsn-icon-image,

.menu-iconmenu .jsn-icon-image > a > span,

.list-icon.jsn-icon-image li .jsn-listbullet,

.jsn-icon-image h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-image > a > span {

	background-position: 0 -900px;

}

.link-icon.jsn-icon-info,

.menu-iconmenu .jsn-icon-info > a > span,

.list-icon.jsn-icon-info li .jsn-listbullet,

.jsn-icon-info h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-info > a > span {

	background-position: 0 -1000px;

}

.link-icon.jsn-icon-mail,

.menu-iconmenu .jsn-icon-mail > a > span,

.list-icon.jsn-icon-mail li .jsn-listbullet,

.jsn-icon-mail h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-mail > a > span {

	background-position: 0 -1100px;

}

.link-icon.jsn-icon-rss,

.menu-iconmenu .jsn-icon-rss > a > span,

.list-icon.jsn-icon-rss li .jsn-listbullet,

.jsn-icon-rss h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-rss > a > span {

	background-position: 0 -1200px;

}

.link-icon.jsn-icon-search,

.menu-iconmenu .jsn-icon-search > a > span,

.list-icon.jsn-icon-search li .jsn-listbullet,

.jsn-icon-search h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-search > a > span {

	background-position: 0 -1300px;

}

.link-icon.jsn-icon-selection,

.menu-iconmenu .jsn-icon-selection > a > span,

.list-icon.jsn-icon-selection li .jsn-listbullet,

.jsn-icon-selection h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-selection > a > span {

	background-position: 0 -1400px;

}

.link-icon.jsn-icon-settings,

.menu-iconmenu .jsn-icon-settings > a > span,

.list-icon.jsn-icon-settings li .jsn-listbullet,

.jsn-icon-settings h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-settings > a > span {

	background-position: 0 -1500px;

}

.link-icon.jsn-icon-star,

.menu-iconmenu .jsn-icon-star > a > span,

.list-icon.jsn-icon-star li .jsn-listbullet,

.jsn-icon-star h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-star > a > span {

	background-position: 0 -1600px;

}

.link-icon.jsn-icon-location,

.menu-iconmenu .jsn-icon-location > a > span,

.list-icon.jsn-icon-location li .jsn-listbullet,

.jsn-icon-location h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-location > a > span {

	background-position: 0 -1700px;

}

.link-icon.jsn-icon-user,

.menu-iconmenu .jsn-icon-user > a > span,

.list-icon.jsn-icon-user li .jsn-listbullet,

.jsn-icon-user h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-user > a > span {

	background-position: 0 -1800px;

}

.link-icon.jsn-icon-downarrow,

.menu-iconmenu .jsn-icon-downarrow > a > span,

.list-icon.downarrow li .jsn-listbullet,

.icon-downarrow h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-downarrow > a > span {

	background-position: 0 -1900px;

}

.link-icon.jsn-icon-monitor,

.menu-iconmenu .jsn-icon-monitor > a > span,

.list-icon.monitor li .jsn-listbullet,

.jsn-icon-monitor h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-monitor > a > span {

	background-position: 0 -2000px;

}

.link-icon.jsn-icon-mobile,

.menu-iconmenu .jsn-icon-mobile > a > span,

.list-icon.mobile li .jsn-listbullet,

.jsn-icon-mobile h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-mobile > a > span {

	background-position: 0 -2100px;

}

.link-icon.jsn-icon-browser,

.menu-iconmenu .jsn-icon-browser > a > span,

.list-icon.browser li .jsn-listbullet,

.jsn-icon-browser h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-browser > a > span {

	background-position: 0 -2200px;

}

.link-icon.jsn-icon-clock,

.menu-iconmenu .jsn-icon-clock > a > span,

.list-icon.clock li .jsn-listbullet,

.jsn-icon-clock h3.jsn-moduletitle span.jsn-moduleicon,

div[class*="box-"] ul.menu-treemenu.menu-iconmenu .jsn-icon-clock > a > span {

	background-position: 0 -2300px;

}

.menu-topmenu.menu-iconmenu [class*="icon-"] > a > span,

.link-button .link-icon[class*="icon-"],

.solid-2[class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon {

	background-image: url(../images/icons/icons-uni-white.png);

}

/* ============================== JOOMLA 3.0 CORE COMPONENT LAYOUT ============================== */

.jsn-joomla-30 .blog-featured .items-leading h2 {

	padding: 5px 0;

}

/* PAGE PAGINATION */

ul.jsn-pagination li {

	margin: 5px 0;

}

/* ============================== CSS3 EFFECTS ============================== */

/* ----- READ MORE ----- */

a {

	transition: all .3s;

	-moz-transition: all .3s;

	-webkit-transition: all .3s;

}

.readon {

	border-radius: 2px;

	-moz-border-radius: 2px;

	-webkit-border-radius: 2px;

	transition: 0.3s ease-out;

	-moz-transition: 0.3s ease-out;

	-webkit-transition: 0.3s ease-out;

}

/* ----- FOOTER LINK ----- */

#jsn-footer a {

	transition: 0.3s ease-out;

	-moz-transition: 0.3s ease-out;

	-webkit-transition: 0.3s ease-out;

}

/* ----- TYPOGRAPHY STYLE ----- */

/* TEXT STYLES */

.text-box {

	border-radius: 15px;

	-moz-border-radius: 15px;

	-webkit-border-radius: 15px;

	box-shadow: 0 0 2px #999;

	-moz-box-shadow: 0 0 2px #999;

	-webkit-box-shadow: 0 0 2px #999;

}

.text-box-highlight {

	transition: 0.3s ease-out;

	-moz-transition: 0.3s ease-out;

	-webkit-transition: 0.3s ease-out;

	border-radius: 15px;

	-moz-border-radius: 15px;

	-webkit-border-radius: 15px;

}

.text-highlight {

	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

}

/* LINK STYLES */

.link-action {

	transition: color 0.3s linear, background 0.3s ease-out;

	-moz-transition: color 0.3s linear, background 0.3s ease-out;

	-webkit-transition: color 0.3s linear, background 0.3s ease-out;

}

.link-action:hover {

	text-shadow: 0 1px 0 rgba(0,0,0,0.3);

}

.link-highlight {

	transition: 0.3s ease-out;

	-moz-transition: 0.3s ease-out;

	-webkit-transition: 0.3s ease-out;

}

.link-highlight:hover {

	border-radius: 5px;

	-moz-border-radius: 5px;

	-webkit-border-radius: 5px;

}

/* TABLE STYLES */

table.table-style th,

table.table-style td {

	transition: background 0.3s ease-out;

	-moz-transition: background 0.3s ease-out;

	-webkit-transition: background 0.3s ease-out;

}

table.table-style tbody th,

table.table-style tbody td {

    box-shadow:none;

}



table.table-style.style-colorstripes tbody th,

table.table-style.style-colorstripes tbody td,

table.style-colorstripes thead th,

table.style-colorstripes tbody tr,

table.style-colorstripes tbody td {

    box-shadow: none;

}

/* FORM STYLE */

.inputbox {

	transition: color 0.1s linear, background 0.3s ease-out, border-color 0.3s;

	-moz-transition: color 0.1s linear, background 0.3s ease-out, border-color 0.3s;

	-webkit-transition: color 0.1s linear, background 0.3s ease-out, border-color 0.3s;

}

.button {

	transition: color 0.1s linear, background 0.3s ease-out;

	-moz-transition: color 0.1s linear, background 0.3s ease-out;

	-webkit-transition: color 0.1s linear, background 0.3s ease-out;

}

.button:hover,

.button:active {

}

/* ----- MENU STYLES ----- */

/* GENERAL */

ul.menu-mainmenu li a,

ul.menu-sidemenu li a,

ul.menu-treemenu li a {

	transition: color 0.3s linear, background 0.3s ease-out, padding 0.4s ease-in-out;

	-moz-transition: color 0.3s linear, background 0.3s ease-out, padding 0.4s ease-in-out;

	-webkit-transition: color 0.3s linear, background 0.3s ease-out, padding 0.4s ease-in-out;

}

/* MAIN MENU - SIDE MENU */

ul.menu-mainmenu li ul,

ul.menu-sidemenu li ul {

	opacity: 0;

	filter: alpha(opacity=0);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

}

ul.menu-mainmenu li:hover > ul,

ul.menu-sidemenu li:hover > ul {

	opacity: 1;

	filter: alpha(opacity=100);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}

/* ----- SITE TOOLS ----- */

ul#jsn-sitetools-menu li ul {

	opacity: 0;

	filter: alpha(opacity=0);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	-webkit-transition: all .3s;

	-moz-transition: all .3s;

	-o-transition: all .3s;

	-ms-transition: all .3s;

	transition: all .3s;

}

ul#jsn-sitetools-menu li:hover ul {

	opacity: 1;

	filter: alpha(opacity=100);

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}

ul#jsn-sitetools-menu li {

	transition: background 0.3s ease-out;

	-moz-transition: background 0.3s ease-out;

	-webkit-transition: background 0.3s ease-out;

}

/* ----- MOBILE TOOLS ----- */

#jsn-mobiletools ul li a {

	background-image:-moz-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);

	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(216,216,216)));

	background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);

	background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);

	background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);

	background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);

	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0)";

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0);

	border-radius: 5px;

	-moz-border-radius: 5px;

	-webkit-border-radius: 5px;

}

/* ----- OVERRIDE JOOMLA 30 ----- */

.jsn-joomla-30 .calendar .button {

	border-radius: none;

	-moz-border-radius: none;

	-webkit-border-radius: none;

}

/* ---------- CUSTOM OVERRIDE MODULE ---------- */

/* MOD FINDER */

div.finder-module .inputbox#mod-finder-searchword {

	border-radius: 0;

}

div.finder-module .button.finder {

	border-radius: 0;

	box-shadow: none;

}

.form-horizontal .control-label{width:100px !important}

.form-horizontal .controls{margin-left:100px !important}

.well{background-color:#fff !important; border: none !important}

@media screen and (max-width: 860px){

  body.jsn-demo-page #jsn-promo{padding-top: 10px !important;}

}

body.jsn-demo-page #jsn-promo{background:none !important}

.demo-getintouch ul.contact-info li{line-height:25px !important;padding-left: 30px !important;}

body.jsn-demo-page #jsn-header.jsn-menu-sticky{background:#fff !important}

body.jsn-demo-page #jsn-header{background:#fff !important}

body.jsn-demo-page .demo-getintouch{background:none !important}

div.jsn-modulecontainer.demo-contact-form .jsn-uniform.jsn-master .form-actions .btn-toolbar .jsn-form-submit{color: #000 !important;background: #169e94 !important;padding: 5px 25px !important; font-style: italic; text-transform:uppercase !important}

div.jsn-modulecontainer.demo-contact-form .jsn-uniform.jsn-master input[type="text"]{border-color: #000 !important;}

#jsn-mainbody-content-inner3{height:40px !important}

.navbar-inner .brand{display:none}

.login .well{background-color: #28e0d1 !important;

background-image: url(/Giftwise/images/LOGinBG.png);background-repeat: no-repeat; padding:50px 0; width:36%;}

.login .well .control-group{float:left;margin: 15px 0 0 7%;}

.login .well .control-group .btn{background: #f0ff19;color: #000; }

.nav-tabs.nav-stacked{float:left}

.nav-tabs.nav-stacked li a:hover{ border:none}

.nav-tabs>li>a:hover{border-color:none !important}

.nav-tabs.nav-stacked>li>a{border:none !important}

.nav>li>a:hover{background:none !important; }

 #user-registration{background:#28e0d1; padding:10px 0; width:40%}

#Submit, .btn-primary,.btn-primary:hover{background: #f0ff19;color: #000;text-transform: uppercase;font-style: italic;}

#userForm h2{display:none}

.form-actions{background-color:transparent !important; border: none !important}

#user-registration p{padding:10px 20px}

#user-registration fieldset{padding:0 20px}

#userForm{ padding:30px 0}

#userForm fieldset{padding:50px 0 50px 30px;background-image: url(/Giftwise/images/register.png);background-repeat: no-repeat;background-color:#28e0d1; width:40%;}

#HLtrigger{color:#000 !important; text-transform:uppercase !important; font-size:12px !important;font-family: 'Open Sans', sans-serif;background-color:#fff !important; letter-spacing:4px}

#jsn-pos-footer{background-color:#e6e6e6}

#jsn-pos-toolbar{float:left}

#jsn-mod-login .userdata{background:#fff !important}

#HLcontainer{background:#fff !important}
#HLhandle{text-transform:uppercase !important; letter-spacing:4px}
#adminForm{background:#d0e8e1 !important}
.hidden-phone a{background: #f0ff19;color: #000; text-transform:uppercase; font-style:italic}
.nowrap a{background: none;background: none;}
#adminForm th, #adminForm th a{background:#000; color:#fff; text-transform:uppercase;}
data-title{text-transform:uppercase}
#HLhandle span a{position: absolute;color: #000;margin: 0 0 0 2%;}
.orderby-displaynumber{display:none}
#jsn-leftsidecontent_inner, .vm-product-rating-container, .vm-details-button {display:none}
.addtocart-bar{bottom:1.2em !important}
.addtocart-button{background: #f0ff19 !important; color:#000 !important;border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;text-transform: uppercase;font-style: italic;}
.menu-mainmenu li span{text-transform:uppercase}
#jsn-content.jsn-hasleft #jsn-content_inner{border-right:none !important}
#jsn-maincontent{margin-left:0 !important; width:100% !important}
.browse-view{float:left !important; width:100%;text-align:center}
.browse-view .row{background-color:#d0e8e1;}
.controls input{background:#e6e6e6 !important}
.spacer h2 a{display:none }
.spacer h2{display:none}
.browse-view h1{text-transform:uppercase; width:25%; font-style:italic;color:#fff; background:#000; margin:0px auto}
#what_img{margin: -12px 0 0 -145px; position: absolute;}
#what_content{font-size: 18px; color: #000; border: 1px solid #000; width: 95%; margin: 0px auto}
#what_content p{margin: 40px 0 20px;}
.item-page .page-header h1, .jsn-article-toolbar{display:none}
#what_img{margin: -12px 0 0 -145px; position: absolute;}
#what_content{font-size: 18px; color: #000; border: 1px solid #000; width: 95%; margin: 0px auto;}
#what_content p{margin: 40px 0 20px;}
.navbar-inner,.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus,.navbar .nav>li>a{background:#000 !important; color:#fff !important; text-shadow:none !important;text-transform: uppercase;padding-left: 5px; letter-spacing:4px}
#js-cf-project-form, #js-cfpartners-form{background:#d0e8e1; padding:20px}
#js-cf-funding-form,  #crowdf-story-form , #crowdf-rewards-form, #js-cfpartners-form{background-image: url(/Giftwise/images/bg_green.jpg) !important; padding:22px; width:45%; float:left}
.mtb_15_0{background: #f0ff19 !important;color: #000 !important;text-transform: uppercase;font-style: italic;}
.btn{background: #00a8a8 !important;
color: #fff !important;
text-transform: uppercase !important;
font-style: italic !important;
border-radius: 0;
text-shadow: none;
box-shadow: none;}
.navbar{width:49% !important}

#mceu_61, #mceu_47-body, #mceu_70, #mceu_74{display:none}
.editor{height:300px !important}
body.jsn-demo-page .demo-getintouch{width:100% !important; background:#e6e6e6 !important; padding:0 0 20px}

#jsn-logo{ text-align:center !important ; width:100%;border-bottom: 1px solid #000; padding:20px 0}
#jsn-pos-mainmenu{ width:100%;border-bottom: 1px solid #000; }
div.jsn-modulecontainer ul.menu-mainmenu > li > a{padding:5px 80px !important}
.menu-mainmenu .jsn-icon-home, .mceu_80{display:none !important}
.container_skitter{margin:100px 0 0}
ul.colors-bar li{background-color:#000 !important}
#jsn-topheader{margin:5px 0 0}
#how_image{background-image: url(/Giftwise/images/bg_how.jpg);background-repeat: no-repeat; text-align:center; padding:25px 0}
#how_image img{margin:10% 0 0}
body.jsn-demo-page #jsn-mainbody-content{border:none !important}
#jsn-mainbody-content-inner{padding:0 !important}
#HLcontainer{margin-right:-50px !important;margin-top: 2px;}
.thumbnails .caption{float:right; width:150px}
.thumbnail > a > img, .thumbnail > a{float:left;}
.cf-project{min-height:300px !important}
#js-cf-project-form label, #js-cf-funding-form label{ text-transform:uppercase; font-style:italic}
#js-cf-project-form, #js-cf-funding-form, #crowdf-story-form, {background-image: url(/Giftwise/images/bg_event.jpg) !important;}
.icon-ok,.icon-ok-circle{display:none}
#js-cf-project-form input, #js-cf-funding-form input, #crowdf-story-form input{ background:#fff5d6 !important;font-style: italic;}
.chzn-container a span{font-style:italic}
.thumbnail{background:#d0e8e1;}
.caption h3{ text-transform:uppercase; color:#fa603a}
.caption h3 a{color:#fa603a}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{background-color:#d0e8e1}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{background-color:#fff5d6}
.table-striped tbody>tr:nth-child(even)>td, .table-striped tbody>tr:nth-child(even)>th{background-color:#d0e8e1}
.cf-bg-color-brown {display:none !important}
.progress-danger .bar{background:#fa603a !important}
#userForm{width: 50%;float: left;border: 1px solid #ffee00;padding: 0 0 0 10%;background-image: url(/Giftwise/images/register_bg.jpg);}
#userform .componentheading{text-align:center !important; text-transform:uppercase !important; }
.well h3{text-transform{text-transform:uppercase}
.cf-modsearch{margin:26px 0 0 !important}
.cf-modsearch input[type=text]{background: #fff5d6 !importantborder: 1px solid #000 !important;}  