/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/************************************************************************************
 desktop layout (larger than 1200): common settings for wide desktop screen
*************************************************************************************/
@media only screen and (min-width: 1200px) {
	#jsn-topheader-inner,
	#jsn-header_inner,
	#jsn-promo_inner,
	#jsn-content-top_inner,
	#jsn-content,
	#jsn-content-bottom_inner,
	#jsn-content-bottom-over_inner,
	#jsn-usermodules3-inner,
	#jsn-bottom_inner,
	#jsn-footer-inner, 
	#template-detail-inner,
	#jsn-blog-promo-inner,
	#extension-detail-inner,
	#jsn-menu.jsn-menu-sticky {
		margin: 0 auto;
		width: 1200px;
	}
}