/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/************************************************************************************
mobile layout (240 - 1023): common settings for both smartphone and tablet
*************************************************************************************/
@media only screen and (max-width: 960px), (max-device-width: 960px) {
	body {
		font-size: 16px !important;
		-webkit-text-size-adjust: none;
	}
	img {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}
	#jsn-master #jsn-page {
		min-width: inherit;
	}
	#jsn-topheader-inner,
	#jsn-header_inner,
	#jsn-promo_inner,
	#jsn-content-top_inner,
	#jsn-content,
	#jsn-content-bottom_inner,
	#jsn-content-bottom-over_inner,
	#jsn-usermodules3-inner,
	#jsn-bottom_inner,
	#jsn-footer-inner,
	#template-detail-inner,
	#jsn-blog-promo-inner,
	#extension-detail-inner {
		width: auto !important;
		padding: 0 10px;
	}
	#jsn-header_inner,
	#jsn-promo_inner {
		padding: 0;
	}
	#jsn-header {
        
	}
	ul#jsn-sitetools-menu li a {
		width: 35px;
	}
	ul#jsn-sitetools-menu ul li {
		padding: 5px 5px 0;
	}
	ul#jsn-sitetools-menu li ul {
		display: none;
		right: 0;
	}
	ul#jsn-sitetools-inline li.active ul,
	ul#jsn-sitetools-menu li.active ul {
		display: block;
		visibility: visible;
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	ul#jsn-sitetools-menu li.active ul {
	    background-color: #000000;
	}
	#jsn-usermodules3 {
		padding: 30px 10px;
	}
	div.jsn-modulescontainer {
		padding: 5px 0;
	}
	#jsn-leftsidecontent_inner,
	#jsn-rightsidecontent_inner,
	#jsn-pos-innerleft_inner,
	#jsn-pos-innerright_inner {
		padding: 10px !important;
	}
	div#jsn-content [id*="jsn-content_inner"] {
		left: auto !important;
		right: auto !important;
	}
	span.breadcrumbs,
	ul.breadcrumb,
	div#jsn-content #jsn-maincontent {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	div.jsn-horizontallayout div.jsn-modulecontainer {
		margin-top: 20px;
	}
	#jsn-logo {
		margin-left: 10px;
	}
	#jsn-logo a {
		margin: 13px 0;
		line-height: 16px;
	}
	#jsn-header {

		border-bottom: none;
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
	}
	#jsn-header.jsn-menu-sticky {
		position: static;
		border-bottom: none;
	}
	#jsn-header.jsn-menu-sticky + #jsn-body {
		padding-top: 0;
	}
	/* =============== MAIN MENU =============== */
	#jsn-menu {
		height: 70px;
	}
	#jsn-menu.jsn-menu-sticky {
		background-color: rgba(0,0,0,.8);
		position: fixed;
		top: 0;
	}
	#jsn-header.jsn-menu-sticky #jsn-logo a #jsn-logo-desktop-small {
		display: none;
	}
	div.top-socials {
		text-align: center;
	}
	/* ----- MAIN TOGGLE ----- */
	#jsn-menu .jsn-menu-toggle {
		cursor: pointer;
		display: inline-block;
	}
	#jsn-menu .jsn-modulecontent > .jsn-menu-toggle,
	#jsn-menu .jsn-modulecontainer[class*="display-"] .jsn-modulecontainer_inner h3.jsn-moduletitle {
		color: #CCC;
		font-size: 1.1em;
	}
	#jsn-menu .jsn-modulecontent > .jsn-menu-toggle {
		background: url(../../images/icons/icons-mobile.png) 17px 17px no-repeat;
    background-color: #000;
		text-indent: -9999em;
		color: #fff;
		font-size: 1.1em;
		width: 50px;
		height: 50px;
		float: right;
		margin-top: 7px;
	}
	.jsn-direction-rtl #jsn-menu .jsn-modulecontent > .jsn-menu-toggle {
		text-indent: 9999em;
	}
	#jsn-menu .jsn-menu-toggle.active {
		background-image: url(../../images/icons/icons-mobile.png);
    background-color: #000;
	}
	#jsn-menu ul.jsn-menu-mobile {
		position: absolute;
		width: 100%;
		top: 70px;
	}
	#jsn-menu #jsn-pos-mainmenu ul.jsn-menu-mobile {
		left: 0;
	}
	#jsn-menu #jsn-pos-toolbar ul.jsn-menu-mobile {
		right: 0;
	}
	#jsn-menu .jsn-menu-toggle + ul {
		display: none;
	}
	#jsn-menu .jsn-menu-toggle + ul.jsn-menu-mobile {
		display: block;
	}
	body.jsn-direction-rtl #jsn-menu #jsn-pos-mainmenu ul.jsn-menu-mobile {
		right: 0;
		left: auto;
	}
	body.jsn-direction-rtl #jsn-menu #jsn-pos-toolbar ul.jsn-menu-mobile {
		left: 0;
		right: auto;
	}
	body.jsn-direction-rtl #jsn-menu .jsn-menu-toggle + ul {
		right: 0;
	}
	/* ----- LEVEL 1 ----- */
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li {
		float: none;
		width: auto;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li {
		border-bottom: 1px solid #333;
		border-right: none;
		border-left: none;
		margin: 0;
		padding: 0;
	}
	div.jsn-modulecontainer ul.menu-mainmenu > li > ul:after {
		border: none;
		top: 0;
		left: 0;
		margin-left: 0;
	}
	div.jsn-modulecontainer ul.menu-mainmenu > li > ul {
		border: none;
		box-shadow: none;
		border-radius: 0;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li:first-child {
		border-top: none;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li > a,
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li > a:hover {
		border: none;
		background: #000;
		color: #ddd;
		font-size: 1.1em;
		text-decoration: none;
		padding: 10px;
	}
	/* ----- ACTIVE STATE COLOR ----- */
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
		background: #222;
		color: #FFF;
	}
	/* ----- LEVEL 2 ----- */
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu.jsn-menu-mobile ul {
		width: auto;
		position: static;
		background-color: #444;
		visibility: visible;
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		margin: 0;
		padding: 0;
		border: none;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li > .jsn-menu-mobile {
		padding: 5px 15px;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu ul li {
		border: none;
		background: none;
	}
	#jsn-menu [id*="jsn-pos-"] div.jsn-modulecontainer ul.menu-mainmenu ul li a {
		border: none;
		background: none;
		color: #ccc;
		padding: 8px 0 8px 20px;
		background: url(../../images/icons/icons-base.png) left -332px no-repeat;
	}
	body.jsn-direction-rtl #jsn-menu [id*="jsn-pos-"] div.jsn-modulecontainer ul.menu-mainmenu ul li a  {
		background-position: right -332px;
		padding: 8px 20px 8px 0;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li span.jsn-menu-toggle {
		top: 0;
		padding: 0;
		margin: 0;
		width: 32px;
		height: 32px;
		cursor: pointer;
		position: absolute;
		background: rgba(0,0,0,0.3) url(../../images/icons/icon-toggle-expand.png) center center no-repeat;
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#4c000000', EndColorStr='#4c000000');
		right: 0;
	}
	body.jsn-direction-rtl #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li span.jsn-menu-toggle {
		left: 0;
		right: auto;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li span.jsn-menu-toggle.active {
		background-image: url(../../images/icons/icon-toggle-collapse.png);
	}
	/* ----- LEVEL 3 ----- */
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu ul ul li {
		margin-left: 20px;
		margin-right: 10px;
	}
	body.jsn-direction-rtl #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu ul ul li {
		margin-left: 10px;
		margin-right: 20px;
	}
	/* =============== MOBILE SIDE MENU =============== */
	body div.jsn-modulecontainer ul.menu-sidemenu ul {
		display: none;
	}
	body div.jsn-modulecontainer ul.menu-sidemenu li.parent > a {
		padding-right: 8px;
		background-image: none;
	}
	/* ===============  OTHER POSITIONS =============== */
	div[id*="jsn-pos-stick-left"],
	div[id*="jsn-pos-stick-right"] {
		display: none;
		height: 0;
	}
	#jsn-master #jsn-header {
		top: 0;
	}
	#jsn-promo #jsn-pos-promo,
	#jsn-promo #jsn-pos-promo-left,
	#jsn-promo #jsn-pos-promo-right {
		width: 100%;
		margin-left: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#jsn-promo #jsn-pos-promo-left,
	#jsn-promo #jsn-pos-promo-right {
		padding: 10px;
	}
	#jsn-content {
		background: #fff;
	}
	#jsn-content #jsn-maincontent,
	#jsn-content #jsn-leftsidecontent,
	#jsn-content #jsn-rightsidecontent {
		margin-left: 0;
		width: 100%;
		background-color: #fff;
	}
	#jsn-mainbody-content-inner,
	#jsn-content #jsn-pos-innerleft,
	#jsn-content #jsn-pos-innerright {
		margin-left: 0;
		width: 100%;
		left: auto;
	}
	#jsn-mainbody-content-inner1,
	#jsn-mainbody-content-inner3 {
		border: none !important;
	}
	div.jsn-modulescontainer4.jsn-horizontallayout div.jsn-modulecontainer {
		width: 49.9%;
	}
	#jsn-pos-content-bottom {
		padding: 10px;
	}
	#jsn-content_inner,
	#jsn-content_inner2,
	#jsn-content_inner4 {
		border: none !important;
	}
	div#jsn-pos-breadcrumbs.display-mobile,
	div.jsn-modulecontainer.display-mobile {
		display: block;
	}
	div#jsn-pos-breadcrumbs.display-desktop,
	div.jsn-modulecontainer.display-desktop {
		display: none;
	}
	#subiz_widget {
		display: none !important;
	}
	#ezb-mod .ui-tabs-panel a img {
		height: auto !important;
	}
	/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
	/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
	/* ----- STANDARD CONTACT LAYOUT - CONTACT FORM INPUT BOXES ----- */
	.jsn-mailling-form {
		text-align: center;
	}
	.jsn-mailling-form p {
		text-align: left;
	}
	.jsn-mailling-form #contact_name,
	.jsn-mailling-form #contact_email,
	.jsn-mailling-form #contact_subject,
	.jsn-mailling-form #contact_text {
		width: 100%;
		padding: 3px 0;
	}
	/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
	div.com-search #searchForm .search-phrase {
		margin-left: 0;
	}
	div.com-search #searchForm .search-keyword label,
	div.com-search #searchForm .search-ordering label,
	div.com-search #searchForm .search-field-title {
		float: none;
		display: inline;
		text-align: left;
		padding-bottom: 3px;
	}
	div.com-search #searchForm .search-keyword-result .search-field-title {
		display: inline;
	}
	div.com-search #searchForm .search-range label,
	div.com-search #searchForm .search-range .search-field-title {
		float: left;
	}
	body.jsn-direction-rtl div.com-search #searchForm .search-range label,
	body.jsn-direction-rtl div.com-search #searchForm .search-range .search-field-title {
		float: right;
	}
	/* =============== CUSTOM CSS =============== */
	#jsn-promo #jsn-pos-promo #jsn-title-promo h1 {
		font-size: 35px;
	}
	#jsn-promo #jsn-pos-promo #jsn-title-promo h1 span {
		font-size: 60px;
	}
	.jsn-article-content h2.jsn-title span,
	div.jsn-modulecontainer h2.jsn-title span {
		font-size: 60px;
	}
	div.jsn-modulecontainer #ezb-mod .ui-tabs-panel,
	div.jsn-modulecontainer #ezb-mod ul.ui-tabs-nav {
		width: 49%;
	}
	div.newsletters.jsn-modulecontainer {
		background: none;
		padding-left: 0;
	}
	#jsn-edition-price div.col-price {
		width: 32.2%;
	}
	#extension-features #list_container #highlight {
		display: none;
	}
	#ezblog-body .blog-text img,
	#ezblog-body .blog-content img {
		float: none;
	}
	.align-left #slides {
		width: 100%;
		height: auto;
	}
	#extension-detail #video-player {
		width: auto;
	}
	#eblog-wrapper .float-l.blog-calendar,
	#eblog-wrapper .float-l.blog-avatar {
		float: left !important;
	}
}
/************************************************************************************
mobile layout (240 - 1023): Only on device
*************************************************************************************/
@media (max-device-width: 960px) {
	#jsn-header.jsn-menu-sticky + #jsn-body {
		padding-top: 40px;
	}
}
/************************************************************************************
smartphone layout (320): everything is layout in single column
*************************************************************************************/
@media only screen and (max-width: 320px), (max-device-width: 320px) {
	.jsn-bootstrap .jsn-row-container.row-fluid {
		width: 93% !important;
	}
	div.newsletters .jsn-row-container .form-captcha {
		margin-top: -27px;
	}
	div.jsn-modulecontainer.newsletters .jsn-bootstrap .btn-toolbar .btn-primary {
		margin-top: -15px;
	}
}
@media only screen and (max-width: 568px), (max-device-width: 568px) {
	#jsn-header-top {
		padding: 0 10px;
	}
	#jsn-pos-topbar,
	#jsn-pos-top,
	ul.menu-topmenu {
		text-align: center;
		float: none;
	}
	#jsn-social-icons {
		margin: 0 0 0 35px;
	}
	body.jsn-direction-rtl #jsn-social-icons {
		margin: 0 35px 0 0;
	}
	#jsn-social-icons,
	#jsn-social-icons ul,
	#jsn-social-icons ul li {
		float: none !important;
	}
	#jsn-social-icons ul li {
		display: inline-block;
	}
	#jsn-social-icons ul {
		text-align: center;
	}
	#jsn-social-icons ul li a {
	    padding: 15px 12px !important;
	}
	#jsn-pos-topbar div.jsn-modulecontainer,
	#jsn-pos-top div.jsn-modulecontainer {
		float: none;
		text-align: left;
		margin: 0;
	}
	#jsn-logo #jsn-logo-mobile {
		display: block;
	}
	#jsn-logo #jsn-logo-mobile + #jsn-logo-desktop {
		display: none;
	}
	#jsn-logo {
		padding: 0;
	}
	#jsn-logo a {
		margin: 18px 0;
	}
	#jsn-logo a img {
		max-height: 30px;
	}
	div#jsn-pos-breadcrumbs.display-tablet,
	div.jsn-modulecontainer.display-tablet {
		display: none;
	}
	div#jsn-pos-breadcrumbs.display-smartphone,
	div.jsn-modulecontainer.display-smartphone {
		display: block;
	}
	div.jsn-horizontallayout div.jsn-modulecontainer:first-child {
		margin-top: 0;
	}
	#jsn-promo #jsn-pos-promo,
	#jsn-promo #jsn-pos-promo-left,
	#jsn-promo #jsn-pos-promo-right {
		float: none;
		left: auto;
		width: 100% !important;
	}
	#jsn-promo #jsn-pos-promo-left,
	#jsn-promo #jsn-pos-promo-right {
		margin-bottom: 10px;
	}
	div#jsn-content.jsn-hasleft #jsn-rightsidecontent,
	div#jsn-content.jsn-hasright #jsn-leftsidecontent {
		width: 100%;
	}
	div#jsn-content.jsn-hasright #jsn-leftsidecontent {
		margin-bottom: 20px;
	}
	div#jsn-content #jsn-rightsidecontent #jsn-rightsidecontent_inner,
	div#jsn-content #jsn-leftsidecontent #jsn-leftsidecontent_inner,
	#jsn-pos-content-bottom .jsn-modulecontainer .jsn-modulecontainer_inner,
	#jsn-usermodules3 .jsn-modulecontainer .jsn-modulecontainer_inner {
		margin: 0 !important;
	}
	div.jsn-modulescontainer.jsn-horizontallayout div.jsn-modulecontainer,
	#jsn-pos-user2,
	#jsn-pos-user4,
	#jsn-pos-user6,
	#jsn-pos-user7 {
		margin-top: 20px;
	}
	div.jsn-modulescontainer div[class*="solid-"],
	div.jsn-modulescontainer div[class*="box-"],
	div.jsn-modulescontainer2 div.jsn-modulecontainer {
		width: 100%;
	}
	div#jsn-content.jsn-hasright #jsn-content_inner2 {
		background: none;
	}
	div#jsn-content.jsn-hasleft #jsn-content_inner {
		background: none;
	}
	div.jsn-modulescontainer2 div.jsn-modulecontainer,
	div.jsn-modulescontainer3 div.jsn-modulecontainer,
	div.jsn-modulescontainer4 div.jsn-modulecontainer,
	div.jsn-modulescontainer5 div.jsn-modulecontainer,
	div.jsn-modulescontainer6 div.jsn-modulecontainer,
	#jsn-pos-user1,
	#jsn-pos-user2,
	#jsn-pos-user3,
	#jsn-pos-user4,
	#jsn-pos-user5,
	#jsn-pos-user6,
	#jsn-pos-user7,
	#jsn-pos-footer,
	#jsn-pos-bottom {
		float: none !important;
		width: 100% !important;
	}
	#jsn-content-bottom-over,
	#jsn-usermodules3 {
		margin-bottom: 0;
	}
	#jsn-footer .jsn-modulescontainer {
		padding: 0;
	}
	#jsn-pos-bottom {
		text-align: left;
	}
	#jsn-content-bottom {
		padding: 0;
	}
	#jsn-content-bottom div.jsn-modulecontainer {
		padding: 1px 0;
	}
	#jsn-content-bottom-below {
		padding: 30px 0 0;
	}
	div[class*="grid-layout"] div.grid-col {
		width: 100%;
	}
	div.grid-layout div.grid-col div.grid-col_inner {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	body.jsn-direction-rtl div.grid-layout div.grid-col div.grid-col_inner {
		margin-left: 0;
	}
	body.jsn-com-search fieldset {
		padding: 0;
	}
	body.jsn-com-search fieldset div {
		max-width: 260px;
		width: 260px;
	}
	#jsn-gotoplink {
		right: 10px;
		bottom: 10px;
	}
	/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
	/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
	/* ----- ARTICLE DETAILS ----- */
	p, pre, blockquote, form, dl, ul, ol, fieldset, address, table {
		word-wrap: break-word;
	}
	/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
	/* ARTICLE COLUMN CONTAINER */
	.jsn-articlecols {
		float: none;
		width: 100% !important;
	}
	.jsn-articlecols .jsn-article {
		padding: 0;
	}
	/* =============== JOOMLA! EXTENSIONS - COM_NEWSFEED =============== */
	.com-newsfeed table.jsn-infotable td.jsn-table-column-links,
	.com-newsfeed legend.hidelabeltxt {
		display: none;
	}
	.com-newsfeed div.display-limit {
		float: right;
	}
	.com-newsfeed table.category {
		width: 100%;
		border: none;
		border-collapse: collapse;
	}
	.com-newsfeed table.category thead th {
		padding: 10px;
	}
	.com-newsfeed table.category thead .item-title {
		text-align: left;
	}
	.com-newsfeed table.category thead {
		background-color: #999;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5) ;
	}
	.com-newsfeed table.category thead th a {
		color: #FFF;
	}
	.com-newsfeed table.category .item-num-art {
		text-align: center;
	}
	.com-newsfeed table.category .item-link {
		display: none;
	}
	.com-newsfeed table.category tbody td {
		padding: 10px 5px;
		border-bottom: 1px solid #CCC;
	}
	.jsn-joomla-30 .com-newsfeed ul.category li {
		float: left;
		width: 100%;
	}
	.jsn-joomla-30 .com-newsfeed div.display-limit {
	    float: none;
	}
	/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
	.com-contact table.jsn-infotable td.jsn-table-column-country,
	.com-contact table.jsn-infotable td.jsn-table-column-state,
	.com-contact table.jsn-infotable td.jsn-table-column-suburb,
	.com-contact table.jsn-infotable td.jsn-table-column-position {
		display: none;
	}
	/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
	/* ----- USER FORM LAYOUT ----- */
	div.com-user div.default-login {
		width: 90%;
	}
	div.com-user div.default-login .login-fields input {
		display: block;
		width: 95%;
	}
}
@media only screen and (min-width: 321px) and (max-width: 568px), (min-device-width: 321px) and (max-device-width: 568px) {
	body.jsn-com-search fieldset div {
		max-width: 400px;
		width: 400px;
	}
}
/************************************************************************************
 tablet wide layout (481 - 960): arrange modules in 3 columns and 1 side bar
*************************************************************************************/
@media only screen and (min-width: 569px) and (max-width: 960px), (min-device-width: 569px) and (max-device-width: 960px) {
	#jsn-logo a {
		margin-right: 10px;
	}
	#jsn-promo.jsn-haspromoright #jsn-pos-promo-left,
	#jsn-promo.jsn-haspromoleft #jsn-pos-promo-right,
	#jsn-content.jsn-hasright #jsn-leftsidecontent,
	#jsn-content.jsn-hasleft #jsn-rightsidecontent,
	#jsn-content.jsn-hasinnerright #jsn-pos-innerleft,
	#jsn-content.jsn-hasinnerleft #jsn-pos-innerright {
		width: 49.95%;
	}
	#jsn-promo.jsn-haspromoright #jsn-pos-promo-left,
	#jsn-content.jsn-hasright #jsn-leftsidecontent,
	#jsn-content.jsn-hasinnerright #jsn-pos-innerleft {
		float: left;
	}
	#jsn-promo.jsn-haspromoleft #jsn-pos-promo-right,
	#jsn-content.jsn-hasleft #jsn-rightsidecontent,
	#jsn-content.jsn-hasinnerleft #jsn-pos-innerright {
		float: right;
	}
	#jsn-promo.jsn-haspromoright #jsn-pos-promo-left {
		padding-right: 10px;
	}
	#jsn-promo.jsn-haspromoleft #jsn-pos-promo-right {
		padding-left: 10px;
	}
	div#jsn-pos-breadcrumbs.display-smartphone,
	div.jsn-modulecontainer.display-smartphone {
		display: none;
	}
	div#jsn-pos-breadcrumbs.display-tablet,
	div.jsn-modulecontainer.display-tablet {
		display: block;
	}
	div.grid-layout4 div.grid-col,
	div.grid-layout5 div.grid-col,
	div.grid-layout6 div.grid-col {
		width: 33.3%;
	}
	div.jsn-modulescontainer3 #jsn-pos-user5 div.jsn-modulecontainer,
	div.jsn-modulescontainer3 #jsn-pos-user6 div.jsn-modulecontainer,
	div.jsn-modulescontainer3 #jsn-pos-user7 div.jsn-modulecontainer {
		width: 100%;
	}
	#jsn-pos-content-top .span2,
	#jsn-pos-content-top .span3,
	#jsn-pos-content-top .span4,
	#jsn-pos-content-bottom .span2,
	#jsn-pos-content-bottom .span3,
	#jsn-pos-content-bottom .span4,
	#jsn-pos-user-top .span2,
	#jsn-pos-user-top .span3,
	#jsn-pos-user-top .span4,
	#jsn-pos-user-bottom .span2,
	#jsn-pos-user-bottom .span3,
	#jsn-pos-user-bottom .span4,
	#jsn-usermodules3 .span2,
	#jsn-usermodules3 .span3,
	#jsn-usermodules3 .span4,
	#jsn-pos-mainbody-top .span2,
	#jsn-pos-mainbody-top .span3,
	#jsn-pos-mainbody-top .span4,
	#jsn-pos-mainbody-bottom .span2,
	#jsn-pos-mainbody-bottom .span3,
	#jsn-pos-mainbody-bottom .span4 {
		width: 31.914893617021278%;
		float: left;
	}
	#jsn-pos-content-top .span2:nth-child(4),
	#jsn-pos-content-top .span3:nth-child(4),
	#jsn-pos-content-bottom .span2:nth-child(4),
	#jsn-pos-content-bottom .span3:nth-child(4),
	#jsn-pos-user-top .span2:nth-child(4),
	#jsn-pos-user-top .span3:nth-child(4),
	#jsn-pos-user-bototm .span2:nth-child(4),
	#jsn-pos-user-bottom .span3:nth-child(4),
	#jsn-usermodules3 .span2:nth-child(4),
	#jsn-usermodules3 .span3:nth-child(4),
	#jsn-pos-mainbody-top .span2:nth-child(4),
	#jsn-pos-mainbody-top .span3:nth-child(4),
	#jsn-pos-mainbody-bottom .span2:nth-child(4),
	#jsn-pos-mainbody-bottom .span3:nth-child(4) {
		margin-left: 0;
	}
}
/************************************************************************************
 tablet narrow layout (481 - 767): arrange modules in 2 columns and 1 side bar
*************************************************************************************/
@media only screen and (min-width: 569px) and (max-width: 768px), (min-device-width: 569px) and (max-device-width: 768px) and (orientation:portrait) {
	#jsn-pos-content-top [class*="span"],
	#jsn-pos-content-bottom [class*="span"],
	#jsn-pos-user-top [class*="span"],
	#jsn-pos-user-bottom [class*="span"],
	#jsn-pos-mainbody-top [class*="span"],
	#jsn-pos-mainbody-bottom [class*="span"],
	#jsn-usermodules1 [class*="span"],
	#jsn-usermodules2 [class*="span"],
	#jsn-usermodules3 [class*="span"] {
		width: 48.93617021276595%;
		margin-left: 0;
		float: left;
	}
	.jsn-horizontallayout .span12,
	#jsn-usermodules1 .span12,
	#jsn-usermodules2 .span12,
	#jsn-usermodules3 .span12 {
		width: 100% !important;
	}
	#jsn-pos-content-top [class*="span"]:nth-child(2),
	#jsn-pos-content-top [class*="span"]:nth-child(4),
	#jsn-pos-content-top [class*="span"]:nth-child(6),
	#jsn-pos-content-bottom [class*="span"]:nth-child(2),
	#jsn-pos-content-bottom [class*="span"]:nth-child(4),
	#jsn-pos-content-bottom [class*="span"]:nth-child(6),
	#jsn-pos-user-top [class*="span"]:nth-child(2),
	#jsn-pos-user-top [class*="span"]:nth-child(4),
	#jsn-pos-user-top [class*="span"]:nth-child(6),
	#jsn-pos-user-bottom [class*="span"]:nth-child(2),
	#jsn-pos-user-bottom [class*="span"]:nth-child(4),
	#jsn-pos-user-bottom [class*="span"]:nth-child(6),
	#jsn-pos-mainbody-top [class*="span"]:nth-child(2),
	#jsn-pos-mainbody-top [class*="span"]:nth-child(4),
	#jsn-pos-mainbody-top [class*="span"]:nth-child(6),
	#jsn-pos-mainbody-bottom [class*="span"]:nth-child(2),
	#jsn-pos-mainbody-bottom [class*="span"]:nth-child(4),
	#jsn-pos-mainbody-bottom [class*="span"]:nth-child(6),
	#jsn-usermodules1 [class*="span"]:nth-child(2),
	#jsn-usermodules2 [class*="span"]:nth-child(2),
	#jsn-usermodules3 [class*="span"]:nth-child(2),
	#jsn-footermodules [class*="span"]:nth-child(2) {
		margin-left: 2.127659574468085%;
	}
	#jsn-usermodules3.jsn-modulescontainer3 .span4:last-child {
		margin-top: 20px;
	}
	#jsn-footer {
		margin-top: 20px;
	}
	#jsn-pos-footer, #jsn-pos-bottom {
		margin: 0 !important;
		text-align: left;
	}
}
