/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 95%;
	font-weight: 400;
	text-rendering: optimizelegibility;
	-webkit-text-stroke-width: .2px;
	-webkit-font-smoothing: antialiased;
  
}
h1,
h2,
h3,
h4,
h5,
h6,
#jsn-menu a,
#jsn-menu span,
#jsn-gotoplink,
.componentheading,
.contentheading,
ul.menu-topmenu > li > a,
.link-button {
	font-family: 'Open Sans', sans-serif;
}
body.jsn-textstyle-business.jsn-specialfont ul.menu-mainmenu li {
	font-size: 1em;
}
#jsn-menu span{ font-weight:600; letter-spacing:4px}