/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:regular,bold);

body {
	font-family: "Times New Roman", Times, serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body #jsn-menu a,
body #jsn-menu span,
body #jsn-gotoplink,
body .componentheading,
body .contentheading,
body ul.menu-topmenu > li > a,
body .link-button {
	font-family: "Palatino Linotype", Palatino, serif;
}
body.jsn-textstyle-news h3.jsn-moduletitle {
	font-size: 19px;
}
