/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2013 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ==================== GENERAL ==================== */
/* ----------- PRODUCT LISTING ----------- 
#jsn-mainbody > [class*="hikashop_"] {
	padding-top: 30px;	
}*/
.hikashop_products_listing_main .hikashop_subcontainer {
	display: inline-block;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.hikashop_products_listing_main .hikashop_subcontainer:hover .hikashop_product_image img {
	transform: scale(1.15,1.15);
}
.hikashop_product_image {
	padding-bottom: 0;
	overflow: hidden;
}
.hikashop_products_listing_main .hikashop_subcontainer .hikashop_product_image img {
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
}
.hikashop_products_listing_main .hikashop_subcontainer .hikashop_product_image {
	position: relative;
}
.hikashop_products_listing_main .hikashop_subcontainer .hikashop_product_image:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	background: rgba(0,0,0,.6);
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.hikashop_products_listing_main .hikashop_subcontainer:hover .hikashop_product_image:before {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.hikashop_products_listing_main .product-content input.hikashop_cart_input_button {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-top: -17px !important;
	margin-left: -60px !important;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 100;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}
.hikashop_products_listing_main .hikashop_subcontainer:hover .product-content input.hikashop_cart_input_button {
	visibility: hidden;
	top: 38%;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility: visible;
}	
#jsn-page .product-content input.hikashop_cart_input_button:hover {
	background-color: rgba(0,0,0,.8);
}
.product-content {
	text-align: center;
	padding-bottom: 15px;
}
.hikashop_subcontainer:hover .product-content {
	visibility: visible;
	opacity: 1;
}
span.hikashop_product_name a {
	text-transform: uppercase;
	font-size: 17px;
	display: inline-block;
	margin-top: 10px;
}
span.hikashop_product_price {
	color: #737373;
	font-weight: 300;
	font-size: 15px;
}
.hikashop_product_price_per_unit {
	display: none;
}
.hikashop_products .separate {
	width: 100%;
	height: 1px;
	background: #e5e5e5;
	display: inline-block;
	margin: 10px 0;
}
/* ----- FADE----- */
.product-description {
	width: 200px;
	height: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}
.hikashop_fade_effect span.hikashop_product_name a {
	margin-top: 5px;
}
.hikashop_fade_effect span.hikashop_product_name {
	margin-bottom: 0;	
}
.hikashop_fade_effect .hikashop_img_pane_panel {
	bottom: 0;
}	
/* ----- PRODUCT-IMAGE----- */
.product-content.product-image .hikashop_product_price_full {
	margin-top: 60px;
}
.hikashop_img_pane_panel .hikashop_product_price_full .hikashop_product_price {
	color: #fff;
}
.hikashop_img_pane_panel {
	line-height: 1.5;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	background: transparent;
}
/* ----- PRODUCT-IMAGE PANEL----- */
.hikashop_img_pane_panel {
	bottom: -500px;
	z-index: 150;
	padding: 40px 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-wekit-box-sizing: border-box;
}
.hikashop_subcontainer:hover .hikashop_img_pane_panel {
	bottom: 0;
}
/* ----- PRODUCT-IMAGE SLIDE HORIZONTAL----- */
.hikashop_horizontal_slider .product-description,
.hikashop_horizontal_slider .hikashop_product_name {
	font-weight: 300;
}
.hikashop_horizontal_slider .hikashop_img_pane_panel {
	bottom: 0;
}
/* ----- PRODUCT-IMAGE SLIDE VERTICAL----- */
.hikashop_vertical_slider .hikashop_img_pane_panel {
	bottom: 0;
}
#jsn-page .hikashop_cart_input_button,
button.hikashop_cart_input_button {
	color: #fff;
	text-transform: uppercase;
	padding: 8px 12px;
	background-image: none;
	text-shadow: 0;
	box-shadow: none;
}
/* ----- PRODUCT-IMAGE AND DESCRIPTION ----- */
.hikashop_products_listing_main .hikashop_subcontainer table td {
	display: block;
}
.hikashop_products_listing_main .hikashop_subcontainer table td span.hikashop_product_price_full {
	margin-top: 15px;
}	
/* ============= CATEGORIES MENU MODULE ============ */
.pane-sliders .panel {
	border: 1px solid #e5e5e5;
	margin-bottom: 0;
	border-top: none;
	background: none;
}
div.panel h3.title {
	border-bottom: none;
}
.pane-sliders .panel h3 {
	background: none;
	font-weight: 300;
}
.pane-sliders .panel h3:hover,
.pane-sliders .panel h3.pane-toggler-down {
	background: #f8f8f8;
}
.pane-sliders .panel h3:hover a,
.pane-sliders .panel h3.pane-toggler-down a {
	color: #9c9c9c;	
}
/* ----------- HIKASHOP MODULE ----------- */
.hikashop_module.richbox-2 {
	border: none;
}
#jsn-leftsidecontent span.hikashop_product_name a,
#jsn-rightsidecontent span.hikashop_product_name a {
	font-size: 15px;
	margin-top: 15px;
}
#jsn-leftsidecontent .hikashop_product,
#jsn-rightsidecontent .hikashop_product {
	margin-bottom: 10px;
}
/* ----------- PRODUCT DETAIL PAGE ----------- */
#hikashop_product_left_part div {
	display: inline-block;
	width: 100%;
	text-align: left !important;
}
#hikashop_product_left_part .hikashop_product_main_image,
#hikashop_product_left_part .hikashop_product_main_image .hikashop_product_main_image_subdiv {
	text-align: left !important;
}
#hikashop_product_right_part {
	text-align: left;
}
#hikashop_product_right_part span.hikashop_product_price {
	color: #737373;
	font-weight: 300;
	font-size: 25px;
}
#hikashop_product_right_part span.hikashop_product_price_full {
	text-align: left;
}
/* ----------- CART MODULE ----------- */
#hikashop_cart_module a.hikashop_small_cart_clean_link {
	height: 13px;
	margin-left: 5px;
}
#hikashop_cart_module a img {
	margin: 0;
	float: left;
}
#hikashop_cart_module input.hikashop_cart_input_button {
	margin-top: 15px;
}
/* ----------- MINI SHOPPING CART ----------- */
.hikashop_cart_title {
	font-weight: 400;
	font-size: 15px;
}
.hikashop_cart_module_product_name_value a {
	text-transform: capitalize;
}
.hikashop_cart_module span.hikashop_product_price_full {
	margin-bottom: 0;
}
.hikashop_cart_module .hikashop_cart table {
	border-collapse: collapse;
}	
.hikashop_cart_module hr {
	background: none;
}
.hikashop_cart_module .hikashop_cart table th,
.hikashop_cart_module .hikashop_cart table td {
	border: 1px solid #e5e5e5;
	padding: 5px;
}
.hikashop_cart_module .hikashop_cart table tfoot {
	border: 1px solid #e5e5e5;
	width: 100%;
}
.hikashop_cart_module .hikashop_cart table tfoot td {
	border: none;
	font-weight: 600;
}
.hikashop_cart_module .hikashop_cart table tfoot tr:first-child {
	display: none;
}
/* ----------- CHECK OUT ----------- */
.hikashop_checkout_page h1 {
	border-bottom: 3px double #e5e5e5;
	padding-bottom: 0px;
}
.hikashop_checkout_login h2 {
	background: url(icons-uni.png) 0 -1624px no-repeat;
	padding-left: 45px;
}
.hikashop_checkout_login_right_part {
	padding-left: 20px;
}
.hikashop_checkout_login_right_part h2 {
	background-position: 0 -1283px;
}
.hikashop_checkout_login_right_part h3 { 
	color: #737373;
	font-size: 1.8em;
	font-weight: 300;
	background: url(icons-uni.png) 0 -853px no-repeat;
	padding-left: 45px;
	line-height: 36px;
}
.hikashop_no_border tr,
.hikashop_no_border td,
#hikashop_address_listing tr,
#hikashop_address_listing td, 
#hikashop_address_form_span_iframe tr, 
#hikashop_address_form_span_iframe td, 
#hikashop_product_quantity_main tr, 
#hikashop_product_quantity_main td,
#hikashop_checkout_page tr,
#hikashop_checkout_page td,
#hikashop_affiliate_main tr, 
#hikashop_affiliate_main td {
	padding: 10px 5px;
}
#hikashop_checkout_billing_address fieldset legend, 
#hikashop_payment_methods fieldset legend {
	background: url(icons-uni.png) 0 -1283px no-repeat;
	padding-left: 45px;
	line-height: 36px;
	font-size: 1.8em;
	border-bottom: 3px double #e5e5e5;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 10px;
}
#hikashop_checkout_billing_address fieldset legend {
	background-position: 0 -78px;
}
#hikashop_checkout_cart table {
	border-collapse: collapse;
}
#hikashop_checkout_cart table td,
#hikashop_checkout_cart table th {
	padding: 10px;
}
#hikashop_checkout_cart table tfoot td {
	padding: 0 10px;
	font-weight: 300;
}
#hikashop_checkout_cart table tfoot tr:last-child td {
	font-weight: bold;
}
#hikashop_checkout_cart table tbody td,
#hikashop_checkout_cart table thead th {
	border: 1px solid #e5e5e5;
	margin: 0;
}
p.hikashop_cart_product_name a {
	text-transform: capitalize;
}
#hikashop_checkout_cart table hr {
	background: none;
}
.hikashop_cart_product_quantity_value input.hikashop_product_quantity_field {
	padding: 3px;
}
span.hikashop_checkout_cart_taxes {
	font-weight: 300;
	font-size: 15px;
}
span.hikashop_checkout_cart_final_total {
	color: #737373;
	font-size: 15px;
}
a.hikashop_checkout_billing_address_new_link {
	float: right;
	margin-top: 15px;
	display: inline-block;
}
/* ----------- PRODUCT DETAIL PAGE ----------- */
#hikashop_product_top_part h1 {
	text-transform: capitalize;
}
.hikashop_product_stock a.hikashop_product_quantity_field_change {
	margin: 0;
}
#hikashop_product_quantity_main .hikashop_product_stock tr:first-child td:first-child {
	padding-left: 0;
}
#hikashop_product_quantity_main .hikashop_product_stock td {
	padding: 0 5px;
}
input.hikashop_product_quantity_field {
	text-indent: 5px;
}
img.hikashop_child_image {
	height: 60px;
	margin: 0 10px 0 0;
}
/* ----------- WISHLIST PAGE ----------- */
.hikashop_showcart_infos .key {
	background: none;
}
#hikashop_cart_product_listing {
	border-collapse: collapse;	
}
#hikashop_cart_product_listing th,
#hikashop_cart_product_listing td {
	padding: 10px;
	border: 1px solid #e5e5e5;
}
#hikashop_cart_product_listing .hika_show_cart_total td {
	border: none;
	font-weight: bold;
}
/* ----------- WISHLIST MODULE ----------- */
.hikashop_wishlist_module table {
	border-collapse: collapse;	
}
.hikashop_wishlist_module table td,
.hikashop_wishlist_module table th {
	border: 1px solid #e5e5e5;
	padding: 5px;
}
.hikashop_wishlist_module table th:last-child {
	border: none;
}
#hikashop_carts_listing button.btn {
	border: none;
	color: #fff;
	padding: 8px 15px;
	margin-top: 5px;
}
table.hikashop_no_border tbody tr td:first-child {
	padding: 0;
}
/* ----------- SHOPPING CART PAGE ----------- */
#hikashop_carts_listing .hikashop_header_title h1,
#hikashop_cart_listing .hikashop_header_title h1 {
	background: url(icons-uni.png) 0 -163px no-repeat;
	padding-left: 45px;
	line-height: 36px;
	font-size: 1.8em;
	color: #737373;
}	
#hikashop_cart_listing {
	border-collapse: collapse;
}
#hikashop_cart_listing th {
	font-weight: 400;
}
#hikashop_cart_listing th,
#hikashop_cart_listing td {
	padding: 10px;
	border: 1px solid #e5e5e5;
}
.hikashop_carts .row0,
.hikashop_orders .row0 {
	background: #f8f8f8;
}
#hikashop_cart_listing .hikashop_showcart_infos td {
	border: none;
}
div.toolbar a {
	border: none;
}
/* ----------- CUSTOMER PAGE ----------- */
#hikashop_cpanel_main .hikashop_header_title {
	width: 100%;
}
#hikashop_cpanel_main .hikashop_header_title h1 {
	background: url(icons-uni.png) 0 -1624px no-repeat;
	padding-left: 45px;
	line-height: 36px;
	font-size: 1.8em;
	color: #737373;
	border-bottom: 3px double #e5e5e5;
	padding-bottom: 10px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#hikashopcpanel div.icon a {
	border: 1px solid #e5e5e5;
}
#hikashopcpanel div.icon a:hover {
	background: #f8f8f8;
}
/* ----------- CATEGORIES LISTING PAGE ----------- */
.hikashop_categories_listing_main .hikashop_subcontainer {
	border: 1px solid #e5e5e5;
	border-radius: 0 !important;
	padding: 0;
}
.hikashop_categories_listing_main .hikashop_products_listing_main .hikashop_subcontainer {
	border: inherit;
}
#jsn-mainbody .hikashop_subcategories_listing .hikashop_subcontainer {
	position: relative;
}
#jsn-mainbody .hikashop_subcategories_listing span.hikashop_category_name {
	position: absolute;
	display: block;
	text-transform: uppercase;
	top: 0;
	left: 0;
}
#jsn-mainbody .hikashop_subcategories_listing td span.hikashop_category_name {
	top: 0;
	left: 4px;
}
#jsn-mainbody .hikashop_subcategories_listing span.hikashop_category_name a {
	font-size: 20px;
	font-weight: 300;
}
#jsn-mainbody .hikashop_subcategories_listing .hikashop_subcontainer:hover span.hikashop_category_name a {
	color: #fff;
}
#jsn-mainbody .hikashop_subcategories_listing .product-info span.hikashop_category_name a {
	display: inline-block;
	vertical-align: middle;
	background: rgba(0,0,0,.6);	
	padding: 5px 20px;
}
#jsn-mainbody .hikashop_subcategories_listing .hikashop_subcontainer:hover .product-info span.hikashop_category_name a {
	background: rgba(0,0,0,.8);	
	color: #fff;
}
.hikashop_subcategories_listing [class*="hikashop_category_column_"] .hikashop_container table {
	margin: 0;
}
.hikashop_subcategories_listing [class*="hikashop_category_column_"] .hikashop_container table td {
	display: block;
	text-align: center;
	width: 100%;
}
#jsn-mainbody .hikashop_subcategories_listing th span.hikashop_category_name,
#jsn-mainbody .hikashop_subcategories_listing .hikashop_slide_vertical_description span.hikashop_category_name {
	display: block;
	position: inherit;
}
#jsn-mainbody .hikashop_subcategories_listing th span.hikashop_category_name a,
#jsn-mainbody .hikashop_subcategories_listing .hikashop_subcontainer:hover th span.hikashop_category_name a,
#jsn-mainbody .hikashop_subcategories_listing .hikashop_slide_vertical_description span.hikashop_category_name a,
#jsn-mainbody .hikashop_subcategories_listing .hikashop_subcontainer:hover .hikashop_slide_vertical_description span.hikashop_category_name a {
	color: #555;
	margin-top: 15px;
	display: inline-block;
}
#jsn-mainbody .hikashop_subcategories_listing .hikashop_subcontainer:hover th {
	font-weight: 300;
}
#jsn-mainbody .hikashop_subcategories_listing th .hikashop_img_pane_panel span.hikashop_category_name,
#jsn-mainbody .hikashop_vertical_slider .hikashop_subcategories_listing .hikashop_img_pane_panel span.hikashop_category_name {
	display: none;
}
/* ----------- CATEGORIES MODULE DIV  ----------- */
.hikashop_module .hikashop_container {
	position: relative;
}
.hikashop_module .hikashop_container .product-info span.hikashop_category_name a {
	position:absolute;
	left: 0;
	top: 0;
}
.hikashop_module .hikashop_container .product-info span.hikashop_category_name a {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	background: rgba(0,0,0,.6);	
	padding: 3px 10px;
}
.hikashop_module .hikashop_container:hover .product-info span.hikashop_category_name a {
	background: rgba(0,0,0,.8);	
	color: #fff;
}
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container {
	margin: 0 0 15px !important;
}
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container table {
	border: 1px solid #e5e5e5;
	padding: 10px;
}
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container table td {
	display: block;
	text-align: center;
	width: 100%;
}
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container table td h2 {
	font-size: 18px;
}
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container .hikashop_horizontal_slider table {
	border: none;
	padding: 0;
	text-align: center;
}
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container .hikashop_horizontal_slider table th {
	font-weight: 300;
}
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container .hikashop_horizontal_slider table .hikashop_category_desc,
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container .hikashop_vertical_slider .hikashop_category_desc {
	padding: 0 10px;
	font-size: 12px;
}
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container .hikashop_horizontal_slider .hikashop_category_name,
.hikashop_module .hikashop_subcategories_listing .hikashop_category_column_1 .hikashop_container .hikashop_vertical_slider .hikashop_category_name {
	padding-top: 10px;
	display: inline-block;
}
.hikashop_product_list,
.hikashop_category_list {
	width: 100%;
}
/* ----------- PAGINATION ----------- */
.hikashop_products_pagination .list-footer .limit,
.hikashop_subcategories_pagination .list-footer .limit {
	color: #737373;
	font-weight: 300;
	font-size: 15px;
}
.hikashop_products_pagination .list-footer .limit .inputbox,
.hikashop_subcategories_pagination .list-footer .limit .inputbox  {
	color: #737373;
}
.hikashop_products_pagination .list-footer .pagenav,
.hikashop_subcategories_pagination .list-footer .pagenav {
	padding: 8px 12px;
	font-weight: 300;
	font-size: 14px;
	border: none;
}
.hikashop_products_pagination .list-footer a.pagenav,
.hikashop_subcategories_pagination .list-footer a.pagenav {
	color: #737373;	
}
.hikashop_products_pagination .list-footer span.pagenav,
.hikashop_subcategories_pagination .list-footer span.pagenav {
	color: #fff;
}
/* ----- TEMPLATE COLORS ----- */
.jsn-color-orange #jsn-page .hikashop_cart_input_button,
.jsn-color-orange button.hikashop_cart_input_button,
.jsn-color-orange #hikashop_carts_listing button.btn,
.jsn-color-orange .hikashop_products_pagination .list-footer span.pagenav,
.jsn-color-orange .hikashop_subcategories_pagination .list-footer span.pagenav,
.jsn-color-orange .hikashop_products_pagination .list-footer a.pagenav:hover,
.jsn-color-orange .hikashop_subcategories_pagination .list-footer a.pagenav:hover {
	background-color: #ff8600;
}
.jsn-color-violet #jsn-page .hikashop_cart_input_button,
.jsn-color-violet button.hikashop_cart_input_button,
.jsn-color-violet #hikashop_carts_listing button.btn,
.jsn-color-violet .hikashop_products_pagination .list-footer span.pagenav,
.jsn-color-violet .hikashop_subcategories_pagination .list-footer span.pagenav,
.jsn-color-violet .hikashop_products_pagination .list-footer a.pagenav:hover,
.jsn-color-violet .hikashop_subcategories_pagination .list-footer a.pagenav:hover {
	background-color: #8561a9;
}
.jsn-color-blue #jsn-page .hikashop_cart_input_button,
.jsn-color-blue button.hikashop_cart_input_button,
.jsn-color-blue #hikashop_carts_listing button.btn,
.jsn-color-blue .hikashop_products_pagination .list-footer span.pagenav,
.jsn-color-blue .hikashop_subcategories_pagination .list-footer span.pagenav,
.jsn-color-blue .hikashop_products_pagination .list-footer a.pagenav:hover,
.jsn-color-blue .hikashop_subcategories_pagination .list-footer a.pagenav:hover  {
	background-color: #429ef3;
}
.jsn-color-green #jsn-page .hikashop_cart_input_button,
.jsn-color-green button.hikashop_cart_input_button,
.jsn-color-green #hikashop_carts_listing button.btn,
.jsn-color-green .hikashop_products_pagination .list-footer span.pagenav,
.jsn-color-green .hikashop_subcategories_pagination .list-footer span.pagenav,
.jsn-color-green .hikashop_products_pagination .list-footer a.pagenav:hover,
.jsn-color-green .hikashop_subcategories_pagination .list-footer a.pagenav:hover {
	background-color: #8ec63f;
}
.jsn-color-grey #jsn-page .hikashop_cart_input_button,
.jsn-color-grey button.hikashop_cart_input_button,
.jsn-color-grey #hikashop_carts_listing button.btn,
.jsn-color-grey .hikashop_products_pagination .list-footer span.pagenav,
.jsn-color-grey .hikashop_subcategories_pagination .list-footer span.pagenav,
.jsn-color-grey .hikashop_products_pagination .list-footer a.pagenav:hover,
.jsn-color-grey .hikashop_subcategories_pagination .list-footer a.pagenav:hover  {
	background-color: #7d7d7d;
}
.jsn-color-red #jsn-page .hikashop_cart_input_button,
.jsn-color-red button.hikashop_cart_input_button,
.jsn-color-red #hikashop_carts_listing button.btn,
.jsn-color-red .hikashop_products_pagination .list-footer span.pagenav,
.jsn-color-red .hikashop_subcategories_pagination .list-footer span.pagenav,
.jsn-color-red .hikashop_products_pagination .list-footer a.pagenav:hover,
.jsn-color-red .hikashop_subcategories_pagination .list-footer a.pagenav:hover {
	background-color: #c01920;
}
input.button.hikashop_cart_input_button:hover,
button.hikashop_cart_input_button:hover,
#hikashop_carts_listing button.btn:hover {
	background-color: #000 !important;
}
